.section_billet {
    position: relative;
    background-image: url("../img/accueil/ban_billet.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 310px;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .section_billet img {
        padding-top: 100px;
    }

    .rectangle_blanc {
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 150px;
        width: 90px;
        height: 310px;
        background-color: $blanc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;


        h1 {
            color: $noir;
            margin-bottom: 0;
            padding-bottom: 10px;
            font-size: 95px;
            writing-mode: vertical-rl;
            text-orientation: sideways-right;
            transform: rotate(180deg);
            transform-origin: center;
            position: absolute;
            top: -20%;
            left: -6%;
            width: 100%;
            height: 100%;
            display: flex;
        }
    }
    .reserver.banniere {
        position: absolute;
        right: 40px;
        bottom: 40px;
    }
}

.reserver.banniere {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.section_billet:hover {
    filter: grayscale(50%) sepia(100%) hue-rotate(240deg) saturate(30%) brightness(90%);
    ;
    transition: .5s;
}

@media only screen and (max-width: 450px) {
    .section_billet {
        height: 200px;
        .rectangle_blanc {
            display: none;
        }
        .reserver.banniere {
            position: absolute;
            right: 20px;
            bottom: 50px;
        }
    }

}
@media only screen and (max-width: 1200px) {
    .section_billet {
        height: 200px;
        .rectangle_blanc {
            display: none;
        }
        .reserver.banniere {
            position: absolute;
            right: 20px;
            bottom: 50px;
        }
    }

}
