.section_compte {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 310px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.section_compte img {
    padding-top: 100px;
    padding-bottom: 100px;
}

.carre_blanc {
    position: absolute;
    padding-left: 15px;
    padding-right: 30px;
    margin-right: 100px;
    right: 0;
    width: 450px;
    height: 310px;
    background-color: $noir;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.carre_blanc h1.titre_compte {
    color: $jaune;
    font-size: 55px;
    margin-top: 27px;
    margin-bottom: 0px;
}

.carre_blanc h3.texte_compte {
    font-size: 30px;
    text-transform: none;
    margin-bottom: 20px;
    line-height: 1.2;
    color: $jaune;
}

@media only screen and (max-width: 375px) {
    .carre_blanc {
        background-color: transparent;
        text-align: left;

        h3 {
            display: none;
        }

        h1 {
            display: none;
        }

        .btn-compte {
            a {
                flex-direction: column;
            }

            width: 100%;
            height: 100%;
            position: relative;
            top: 2rem;
            left: 12rem;

            background-color: transparent;
            border: none;

            p {
                font-size: 36px;
                font-weight: 700;
                background-color: $noir;
            }

            .conteneur-span {
                width: 9rem;
                height: 9rem;
                margin-left: 13rem;

                span {
                    font-size: 9em;
                }
            }
        }

        &:hover {
            .btn-compte {
                background-color: transparent;
                border: none;

                p {
                    color: $jaune;
                }
            }
        }
    }
}
