// *********

#compteur {
    opacity: 0;

  

}
#compteur.grand{ 
    #countdown{
        height:200px;
    }
   
}

// **********

.petit {
    max-width: 400px;

    @media only screen and (max-width: 2500px) {
        #label {
            font-size: 2.43em;
        }

        #countdown {
            grid-template-columns: repeat(4, 1fr);
        }

        #countdown_texte {
            grid-template-columns: repeat(4, 1fr);
        }

        #countdown p {
            font-size: 4.38em;
        }

        #countdown_texte p {
            font-size: 1.08em;
        }
    }
}

.grand {
    max-width: 750px;
    font-size: 16px;
    position: relative;
    top: -450px;
    opacity: .8;

    @media only screen and (max-width: 650px) {
        #label {
            font-size: 4.3em;
        }

        #countdown p {
            font-size: 7.78em;

        }

        #countdown_texte p {
            font-size: 1.9em;
        }
    }

    @media only screen and (max-width: 500px) {
        #label {
            font-size: 3.2em;
        }

        #countdown p {
            font-size: 5.84em;
        }

        #countdown_texte p {
            font-size: 1.44em;
        }
    }

    @media only screen and (max-width: 450px) {
        #label {
            font-size: 2.43em;
        }

        #countdown p {
            font-size: 4.38em;
        }

        #countdown_texte p {
            font-size: 1.08em;
        }
    }
}

/* Common styles for both "petit" and "grand" classes */
.compteur p {
    font-size: 5.75em;
    font-family: "pf-venue-stencil";
    text-align: center;
    margin: 0;
}

#countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    justify-content: center;
}

#countdown p {
    margin: 0;
    font-size: 10.38em;
    text-align: center;
}

#countdown_texte {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    justify-content: center;
}

#countdown_texte p {
    font-size: 2.56em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn  {
    from {opacity: 0;}
    to { opacity: 1;}
}
