.form {
    margin: 5em;

    label {
        font-family: "pf-venue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 38px;
        text-transform: uppercase;
        margin-bottom: 1em;
        color: $rose;
    }

    .grid-item {
        display: flex;
        flex-direction: column;

        input, select#endroit {
            height: 50px;
            font-size: 24px;
            font-family: "pf-venue", sans-serif;
        }

    }

    .grid-item.description {
        margin-bottom: 1.5em;
    }

    .actualites-admin{
        .conteneur-grid{
    flex-direction: column;

        }
        .grid-item.description{
            margin-top: 2em;

        }
    }
    select#endroit{
        height: 50px;
        font-size: 24px;
        font-family: "pf-venue", sans-serif;
    }

}


.activites-admin, .actualites-admin{
    margin: 5em;

    .conteneur-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;


        .grid-item {
            flex: 0 1 calc(25% - 10px);
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid $rose;
        }
        h3.grid-title{
            color: $rose;
        }

        .description {
            max-width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }


    }   }

