.form {
    margin: 5em;

    label {
        font-family: "pf-venue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 38px;
        text-transform: uppercase;
        margin-bottom: 1em;
        color: $rose;
    }

    .grid-item {
        display: flex;
        flex-direction: column;

        input, select#endroit {
            height: 50px;
            font-size: 24px;
            font-family: "pf-venue", sans-serif;
        }

    }

    .grid-item.description {
        margin-bottom: 1.5em;
    }



    .actualites-admin{
        .conteneur-grid{
    flex-direction: column;

        }
        .grid-item.description{
            margin-top: 2em;

        }
    }
    select#endroit{
        height: 50px;
        font-size: 24px;
        font-family: "pf-venue", sans-serif;
    }

}

.conteneur-nav-admin{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    z-index: 100;
    h2 {
        margin: 0;
    }
    background-color: $noir;
}
.activites-admin, .actualites-admin{
    margin: 5em;

    .conteneur-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;


        .grid-item {
            flex: 0 1 calc(25% - 10px);
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid $rose;
        }
        h3.grid-title{
            color: $rose;
        }

        .description {
            max-width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

        .image {
            height: 200px;
            width: 1000px;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    } }
    .boutton-retour {

        border: solid $vert 2px;
        padding-top: 1em;
        color: white;
        cursor: pointer;
        width: 300px;
        height: 35px;
        text-align: center;

        a {
            color: white;
            font-size: 1.5em;
            font-family: "pf-venue", sans-serif;
            text-transform: uppercase;

        }

        &:hover {
            background-color: darken($vert, 10%);
            transition: background-color, 0.3s;
        }
    }
