.form {
    margin: 5em;

    label {
        font-family: "pf-venue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 38px;
        text-transform: uppercase;
        margin-bottom: 1em;
        color: $rose;
    }

    .grid-item {
        display: flex;
        flex-direction: column;

        input {
            height: 50px;
            font-size: 24px;
            font-family: "pf-venue", sans-serif;
        }

    }

    .grid-item.description {
        margin-bottom: 1.5em;
    }

}

.conteneur-bouttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.boutton-retour {

    border: solid $vert 2px;
    padding-top: 1em;
    color: white;
    cursor: pointer;
    width: 300px;
    height: 35px;
    text-align: center;

    a {
        color: white;
        font-size: 1.5em;
        font-family: "pf-venue", sans-serif;
        text-transform: uppercase;

    }

    &:hover {
        background-color: darken($vert, 10%);
        transition: background-color, 0.3s;
    }  }

.actualites-admin{
    .conteneur-grid{
flex-direction: column;

    }
    .grid-item.description{
        margin-top: 2em;

    }
}
