

//SECTION ACTUALITES

.conteneur-articles-actualites.admin{
    border-bottom: none;
    h2 {
        margin: 0;
    }

   .description-actualites {
    max-width: 1000px;
   }

   }
.conteneur-image img{
animation: none;
}



// hr {
//     color: $rose;
//     border: solid $rose 3px;
//     margin: 2em;
// }

//BOUTTONS
.conteneur-btn {
    display: flex;
    justify-content: space-between;
    border-bottom: $rose solid 2px;

    width: 1000px;
    margin-left: 16em;
}



button.ajouter, .modifier, .supprimer {

    background-color: $noir;
    border: $jaune 2px solid;
    font-weight: 400;
    font-size: 24px;
    height: 55px;
    text-align: center;
    width: 275px;
    margin: 2em 0 3em ;

    a {
        color: $jaune;
    }
}
button.ajouter:hover, .modifier:hover, .supprimer:hover {
    color: $noir;
    background-color: lighten($jaune, 3%);
    transition: background-color, 0.3s;

    a {
        color: $noir;
    }
}
form button.supprimer{
    transition: 0;
    border-radius: 0;
    padding: 0;
    padding-top: 10px;
}


