//GÉNÉRAL ACTUALITÉS ET ACTIVITÉES

.activites-admin,
.actualites-admin {
    margin: 5em;

    .conteneur-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;

        .grid-item {
            flex: 0 1 calc(25% - 10px);
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid $rose;
        }

        h3.grid-title {
            color: $rose;
        }

        .description {
            max-width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}

//SECTION ACTUALITES

.conteneur-articles-actualites.admin {
    border-bottom: none;

    h2 {
        margin: 0;
    }

    .description-actualites {
        max-width: 1000px;
    }
}

.conteneur-image img {
    animation: none;
}

//SECTION ACTIVITÉS
.conteneur-titre-activites-admin {
    .conteneur-image {
        display: flex;
        width: 850px;
        height: 100px;
        justify-content: space-between;

        .titre {
            color: $rose;
        }

        .image {
            height: 100px;
            width: 750px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


//SECTION RECHERCHE

.formulaire_recherche.activite {
    form {

        .conteneur-recherche {
            display: flex;
            flex-direction: row;
        }

        label {
            p.activite {
                color: $vert;
                padding-right: 1em;
            }
        }

        button.recherche-activite,
        select {

            width: 300px;
            height: 55px;
            text-align: center;
            border-radius: 0;
            font-size: 1.5em;
            font-weight: 400;
            display: block;
            color: white;
            cursor: pointer;
            border: solid #0b8a80 2px;
            padding: 0.6em;
        }

        select {
            padding: 0.3em;
            background-color: $noir;
            color: $blanc;
        }
    }
}
