// CITATION

blockquote {
    font-family: "pf-venue", sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: $rose;
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-bottom: 150px;
    position: relative;
    opacity: 0;
    animation: fade-in 1.5s ease-in-out forwards;
}

blockquote span.material-icons {
    font-size: 36px;
    vertical-align: middle;
    position: relative;
    top: -10px;
}

blockquote span.material-icons:first-child {
    transform: scaleX(-1);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// Intro

.intro {
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
}

//Section activités page accueil

.section_activites {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

img.img_activite {
    padding-top: 150px;
    padding-bottom: 100px;
    padding-right: 80px;
    max-width: 50%;
    margin-right: 20px;
}

.texte_droite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3.accueil_activite {
        font-size: 54px;
        margin-bottom: 30px;
        color: $rose;
    }

    p.accueil_activite {
        font-size: 36px;
        margin-bottom: 20px;
        margin-bottom: 50px;
        color: $rose;
    }

    a.accueil {
        font-family: "pf-venue-stencil", sans-serif;
        text-decoration: none;
        color: $rose;
        padding: 10px 20px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        align-items: center;
        display: flex;
        transition: 0.3s;

        span.material-icons {
            color: $rose;
            font-size: 75px;
            padding-left: 100px;
            position: relative;
            transition: 0.3s;
        }

        &:hover {
            color: $blanc;

            span.material-icons {
                color: $blanc;
            }
        }
    }
}

//Section forfait page accueil

.section_forfaits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

img.img_forfait {
    padding-bottom: 100px;
    padding-left: 80px;
    max-width: 50%;
    margin-right: 20px;
}

.texte_gauche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3.accueil_forfait {
        font-size: 54px;
        margin-bottom: 30px;
        color: $jaune;
    }

    p.accueil_forfait {
        font-size: 36px;
        margin-bottom: 20px;
        margin-bottom: 50px;
        color: $jaune;
    }

    a.accueil {
        font-family: "pf-venue-stencil", sans-serif;
        text-decoration: none;
        color: $jaune;
        padding: 10px 20px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        align-items: center;
        display: flex;
        transition: 0.3s;

        span.material-icons {
            color: $jaune;
            font-size: 75px;
            padding-left: 100px;
            position: relative;
            transition: 0.3s;
        }

        &:hover {
            color: $blanc;

            span.material-icons {
                color: $blanc;
            }
        }
    }
}

//section a propos page accueil

.section_apropos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

img.img_apropos {
    max-width: 50%;
    margin-right: 20px;
}

.texte_droite_deux {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 150px;
}

h3.accueil_apropos {
    font-size: 54px;
    color: $rose;
}

p.accueil_apropos {
    font-size: 36px;
    color: $rose;
}

a.accueil {
    font-family: "pf-venue-stencil", sans-serif;
    text-decoration: none;
    color: $rose;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    transition: 0.3s;

    span.material-icons {
        color: $rose;
        font-size: 75px;

        position: relative;
        transition: 0.3s;
    }

    &:hover {
        color: $blanc;

        span.material-icons {
            color: $blanc;
        }
    }
}

//section actualités page accueil

h1.accueil_actualite {
    padding-top: 150px;
}

.section_actualites {
    padding-bottom: 150px;
}

.section_actualites {
    width: 1500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
    padding-top: 150px;
    padding-bottom: 150px;
}

h1.accueil_actualite {
    color: $jaune;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 50px;
    margin: 0px;
}

.titre_actualite {
    flex-wrap: wrap;
    font-family: "pf-venue", sans-serif;
    font-size: 30px;
    padding-left: 30px;
}

a.vers_actualite {
    display: inline-block;
    background-color: $vert;
    padding: 15px 20px;
    margin-right: 35px;
    margin-bottom: 25px;
    text-decoration: none;
    color: $blanc;
    position: relative;
    .section_actualites {
        width: 1500px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: left;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    h1.accueil_actualite {
        color: $jaune;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 50px;
        margin: 0px;
    }

    .titre_actualite {
        flex-wrap: wrap;
        font-family: "pf-venue", sans-serif;
        font-size: 30px;
        padding-left: 30px;
    }

    a.vers_actualite {
        display: inline-block;
        background-color: $vert;
        padding: 15px 20px;
        margin-right: 35px;
        margin-bottom: 25px;
        text-decoration: none;
        color: $blanc;
        position: relative;
        transition: 0.3s;
        
        .section_actualites {
            width: 1500px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            text-align: left;
            padding-top: 150px;
            padding-bottom: 150px;
        }

        h1.accueil_actualite {
            color: $jaune;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding-top: 0px;
            padding-bottom: 50px;
            margin: 0px;
        }

        .titre_actualite {
            flex-wrap: wrap;
            font-family: "pf-venue", sans-serif;
            font-size: 30px;
            padding-left: 30px;
        }

        a.vers_actualite {
            display: inline-block;
            background-color: $vert;
            padding: 15px 20px;
            margin-right: 35px;
            margin-bottom: 25px;
            text-decoration: none;
            color: $blanc;
            position: relative;
        }

        .titre_actualite a.vers_actualite img {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 5;
            width: 200px;
            height: 135px;
            object-fit: cover;
            transform: translateX(-50%);
        }

        .titre_actualite a.vers_actualite:hover img {
            display: block;
        }

        .images {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image {
            width: 150px;
            height: 150px;
            margin-top: 20px;
            display: none;
        }
    }

    .titre_actualite a.vers_actualite img {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 5;
        width: 200px;
        height: 135px;
        object-fit: cover;
        transform: translateX(-50%);
    }

    .titre_actualite a.vers_actualite:hover img {
        display: block;
    }

    .images {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 150px;
        height: 150px;
        margin-top: 20px;
        display: none;
    }
}

.titre_actualite a.vers_actualite img {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 5;
    width: 200px;
    height: 135px;
    object-fit: cover;
    transform: translateX(-50%);
}

.titre_actualite a.vers_actualite:hover img {
    display: block;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    display: none;
}
