/***********************************************
 *                                          
 *           STYLES POUR LE VIDEO         
 *                                             
 ***********************************************/

video {
    width: 100%; 
    filter: brightness(1);
    max-height: 100%;
    height: 100%;
    object-fit: cover;  
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 70vh; 
    width: 100%;
}

.volume{
    border:none;
    margin-right: auto;
    display: flex;
    margin-left: 0;
  
    span.material-icons{
        border: none;
        color: $blanc;
        margin-right: auto;
        font-size: 16px;
    
    } 
}

.volume:hover{
    background-color: transparent;
}



/***********************************************
 *                                          
 *           STYLES POUR LA CITATION           
 *                                             
 ***********************************************/

/* Styles communs pour blockquote */
blockquote {
    color: $rose;
    font-family: "pf-venue", sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 20px;
    padding-bottom: 100px;
    margin-top: -420px;
    position: relative;
    opacity: 0;
    animation: fade-in 1.5s ease-in-out forwards;
   
}

/* Styles spécifiques pour span.material-icons */
blockquote span.material-icons {
    font-size: 36px;
    vertical-align: middle;
    position: relative;
    top: -10px;
}

/* Style spécifique pour le premier span.material-icons */
blockquote span.material-icons:first-child {
    transform: scaleX(-1);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(50px);
    }
}

/***********************************************
 *                                          
 *           STYLES POUR L'INTRO          
 *                                             
 ***********************************************/

.intro {
    padding: 0 200px 100px;
    text-align: justify;
}

/***********************************************
 *                                          
 *           STYLES POUR LES SECTIONS       
 *                                             
 ***********************************************/

/* Styles communs pour les sections */
.section_activites,
.section_forfaits,
.section_apropos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

/* Styles communs pour les images */
img.img_activite,
img.img_forfait,
img.img_apropos {
    max-width: 50%;
    margin-right: 20px;
    animation: CouleurImage 4.5s ease-in-out;
}

/* Styles communs pour les textes */
.texte_droite,
.texte_gauche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.texte_droite {
    padding-left: 50px;
    animation: fadeIn 2s ease-in-out;
}

.texte_gauche {
    padding-right: 50px;
    animation: fadeInDeux 2s ease-in-out;
}

/* Styles communs pour les titres */
h3.accueil_activite,
h3.accueil_forfait,
h3.accueil_apropos {
    font-size: 54px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

h3.accueil_activite::after,
h3.accueil_forfait::after,
h3.accueil_apropos::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: $blanc;
    overflow: hidden;
    animation: underlineEffect 3s ease-in 1.5 forwards; /* Durée et animation */
}

/* Styles communs pour les paragraphes */
p.accueil_activite,
p.accueil_forfait,
p.accueil_apropos {
    font-size: 36px;
    margin-bottom: 20px;
    margin-bottom: 50px;
}

/* Styles communs pour les liens */
a.accueil,
a.accueil_forfait {
    font-family: "pf-venue-stencil", sans-serif;
    color: $jaune;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    transition: 0.3s;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid $blanc;
}
a.accueil_forfait {
    color: $rose;
}

a.accueil span.material-icons,
a.accueil_forfait span.material-icons {
    font-size: 60px;
    padding-left: 200px;
    padding-bottom: 7px;
    position: relative;
    transition: 0.3s;
}

a.accueil:hover,
a.accueil_forfait:hover {
    color: $blanc;
    border-color: $jaune;
}

a.accueil_forfait:hover{
    border-color: $rose;
}

a.accueil:hover span.material-icons {
    color: $blanc;
}

/* Styles spécifiques pour les couleurs */
h3.accueil_activite {
    color: $rose;
}

p.accueil_activite {
    color: $rose;
}

h3.accueil_forfait {
    color: $jaune;
}

p.accueil_forfait {
    color: $jaune;
}

h3.accueil_apropos {
    color: $rose;
}

p.accueil_apropos {
    color: $rose;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50px); 
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes fadeInDeux {
    from {
        opacity: 0;
        transform: translateX(50px); 
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes CouleurImage {
    0% {
        filter: grayscale(100%); 
    }
    100% {
        filter: grayscale(0%); 
    }
}

@keyframes underlineEffect {
    0% {
        width: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    40% {
        width: 100%;
        left: 0;
        transform: translateX(0);
    }
    60% {
        width: 100%;
        left: 0;
        transform: translateX(0);
    }
    100% {
        width: 0;
        left: 50%;
        transform: translateX(100%);
    }
}
/***********************************************
 *                                          
 *           STYLES POUR LE MUR DE BRIQUE          
 *                                             
 ***********************************************/

/* Styles communs pour la section actualités */
.section_actualites {
    width: 1500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
    padding-top: 150px;
    padding-bottom: 150px;
}

.titre_actualite {
    font-family: "pf-venue", sans-serif;
    font-size: 30px;
    padding-left: 30px;
}

h1.accueil_actualite {
    font-size: 60px;
    text-transform: uppercase;
    color: $jaune;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 50px;
    margin: 0px;
}

.titre_actualite a.vers_actualite {
    display: inline-block;
    background-color: $vert;
    padding: 15px 20px;
    margin-right: 35px;
    margin-bottom: 25px;
    text-decoration: none;
    color: $blanc;
    position: relative;
}

.titre_actualite a.vers_actualite img {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 5;
    width: 200px;
    height: 135px;
    object-fit: cover;
    transform: translateX(-50%);
    opacity: 0;
}

.titre_actualite a.vers_actualite:hover img {
    transition: opacity 0.5s;
    opacity: 1;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    display: none;
}
