.conteneur-actualites {
    h1 {
        margin: 0;
    }

    .titre {
        margin-bottom: 100px;
    }

    .titre h2 span {
        opacity: 0;
        animation: typing 2s forwards;
        animation-delay: var(--delay);
        display: inline-block;
        padding-bottom: 20px;
    }

    .bordure.actualites {
        width: 0;
        height: 2px;
        animation: expand 4s 0.5s forwards;
        border-bottom: solid $rose 3px;
        margin-top: 36px;
    }

    @keyframes expand {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes typing {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

}

//ARTICLE - ACTUALITÉS
.conteneur-articles-actualites {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $rose;
    padding-top: 2em;

    h3,
    h4 {
        color: $rose;
        margin: 0;
    }

    .conteneur-gauche {
        display: flex;
        max-width: 1220px;
        justify-content: space-between;
        padding-left: 2em;
    }

    .conteneur-titre {
        display: flex;
        flex-direction: column;
        padding-left: 6em;
        margin: 0;

        .description {
            margin: 0;
            border: none;

            p {
                margin: 0;
                overflow: hidden;
                animation: typingDescription 4s steps(40) backwards;
                max-width: 100%;
            }

            .plus {
                display: none;
            }

            @keyframes typingDescription {
                from {
                    width: 0;
                    white-space: nowrap;
                }

                to {
                    width: 100%;
                }
            }
        }
    }
}

.conteneur-image {
    height: 260px;
    width: 400px;
    padding-right: 2em;

    img {
        height: 100%;
        width: 100%;
        margin: 0;
        object-fit: cover;
        animation: slide-up 3s forwards;
    }

    @keyframes slide-up {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


//BOUTTON VOIR PLUS
.conteneur-btn-voir {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    button.voir-plus {
        font-family: "pf-venue", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 36px;
        color: $jaune;
        background-color: $noir;
        border: none;
        cursor: pointer;
    }

    img {
        margin: 0;
        height: 25px;
        padding-top: 0.5em;
        padding-left: 1em;
    }
}
