section.conteneur-activites {
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
    }

    .conteneur-date {
        display: flex;
        flex-direction: column;

        .conteneur-jours {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 50%;
            margin-top: 1em;

            h2 {
                color: $blanc;
                margin-bottom: 0;
                margin-top: 0;

                &.selected {
                    color: $rose;
                }
            }

            h2:hover {
                color: $rose;
            }
        }
    }

    .conteneur-bordure .titre {
        margin-bottom: 100px;
        width: 700px;
    }

    .titre h2 span {
        opacity: 0;
        animation: typing 2s forwards;
        animation-delay: var(--delay);
        display: inline-block;
        padding-bottom: 20px;
    }

    .bordure.activites {
        width: 0;
        height: 2px;
        animation: expand 4s 0.5s forwards;
        border-bottom: solid $rose 3px;
        margin-top: 36px;
    }

    @keyframes expand {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes typing {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    //ARTICLE - ACTIVITÉS
    article.activites {
        display: inline-flex;
        justify-content: space-between;
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 2s ease, transform 2s ease;
        padding-bottom: 0;


        .conteneur-image {
            height: 150px;
            width: calc(100% - 300px);
            margin-left: 0;
            cursor: pointer;
            padding-top: 2em;


            img {
                height: 100%;
                width: 100%;
                margin-left: 0;
                margin-top: 0;
                object-fit: cover;

                &:hover {

                    box-sizing: border-box;
                    animation: glowing-border 0.2s forwards;

                    @keyframes glowing-border {
                        0% {
                            border-color: transparent;
                            box-shadow: none;
                        }

                        100% {
                            border-color: $blanc 0.3px;
                            box-shadow: 0 0 35px rgba(245, 195, 220, 0.5);
                        }
                    }
                }
            }

            .description {
                display: none;
                height: fit-content;
                background-color: $blanc;
                margin: 0;
                padding: 1em 3em;

                p {
                    color: $noir;
                }

                .fermer {
                    position: fixed;
                    bottom: -765px;
                    right: 63px;

                    p {
                        font-family: "pf-venue-stencil", sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 3em;
                        color: $rose;
                    }
                }
            }
        }

        .conteneur-titre {
            min-width: 300px;
            height: 200px;
            white-space: nowrap;
            text-align: right;
            overflow: hidden;
            margin-top: 1.5em;
            padding-right: 2em;
        }

        p.heure {
            font-weight: bold;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .conteneur-image {
                margin-right: 0;
                margin-left: initial;
            }

            .conteneur-titre {
                text-align: left;
            }
        }
    }

    .conteneur-image {
        opacity: 0;
        transform: translateX(-50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .conteneur-image.visible {
        opacity: 1;
        transform: translateX(0);
    }

    //FONCTION SHOW MORE/LESS
    .activites.hidden {
        display: none;
    }

    .hidden {
        display: none;
    }

    .activites.visible {
        opacity: 1;
        transform: translateX(0);
    }
}

button.voir.activite {
    margin-bottom: 2em;
}
//RESPONSIVE
@media only screen and (max-width: 1200px) {
    section{
        margin: 4rem;
    }
    .conteneur-activites {
        .conteneur-jours {
            a:not(.selected) {
                display: none;
            }
        }
    }

    section.conteneur-activites article.activites .conteneur-titre {
        display: none;
    }

    section.conteneur-activites article.activites .conteneur-image {
        width: 100%;
    }

    button.voir.activite {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    section {
        margin: 3rem;

    }

    .conteneur-bordure {
        .titre {
            padding-left: 0;
        }

        .bordure.activites {
            display: none;
        }
    }

    @media only screen and (max-width: 375px) {
        section {
            margin: 3rem;
        }

        h1 {
            margin: 0;
            text-align: center;
        }
    }

    p {
        font-size: 20px;
    }

}



