.conteneur-activites {
    display: flex;
    flex-direction: column;

    .conteneur-date {
        display: flex;
        flex-direction: column;

        .conteneur-jours {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 50%;

            h2 {
                color: $blanc;

                &.selected {
                    color: $rose;
                }
            }
        }
    }

    .activites {
        display: inline-flex;
        justify-content: space-between;
        // border: 1px solid red;
        margin-bottom: 3em;

        .conteneur-image {
            display: inline;
            height: 200px;
            width: calc(100% - 300px);
            margin-left: 0;

            img {
                height: 100%;
                width: 100%;
                margin-left: 0;
                margin-top: 0;
                object-fit: cover;
            }
            .description {
                display: none;
                height: 200px;
                background-color: $blanc;
                color: $noir;


            }
        }
        // .conteneur-image:hover .description{
        //     display: block;
        //         }

        .conteneur-titre {
            min-width: 300px;
            white-space: nowrap;
            text-align: right;
            overflow: hidden;
        }

        p.heure {
            font-weight: bold;
        }

        &:nth-child(even) {
            // border: 1px solid blue;
            flex-direction: row-reverse;

            .conteneur-image {
                margin-right: 0;
                margin-left: initial;
            }

            .conteneur-titre {
                text-align: left;
            }
        }


    }

    .activites.hidden {
        display: none;
    }

    .hidden {
        display: none;
    }
    .activites {
        opacity: 0;
        transform: translateX(-50px); /* Start offscreen to the left */
        transition: opacity 2s ease, transform 2s ease;
    }

    .activites.visible {
        opacity: 1;
        transform: translateX(0); /* Move to original position */
    }
    .conteneur-image {
        opacity: 0;
        transform: translateX(-50px); /* Start offscreen to the left */
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .conteneur-image.visible {
        opacity: 1;
        transform: translateX(0); /* Move to original position */
    }

}
