section.conteneur-actualites {

    //TITRE ANIMÉ
    .titre {
        margin-bottom: 100px;
        width: 970px;
    }

    .titre h2 span {
        opacity: 0;
        animation: typing 2s forwards;
        animation-delay: var(--delay);
        display: inline-block;
        padding-bottom: 20px;
    }

    .bordure.actualites {
        height: 2px;
        animation: expand 4s 0.5s forwards;
        border-bottom: solid $rose 3px;
        margin-top: 36px;
    }

    @keyframes expand {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes typing {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

//ARTICLE - ACTUALITÉS
.conteneur-articles-actualites {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $rose;
    padding-top: 2em;
    &:last-child{
        border: none;
    }
    h3,
    h4 {
        color: $rose;
    }
    .date-publication{
        width: 500px;
    }

    .conteneur-gauche {
        display: flex;
        width: 1000px;
        max-height: 500px;
        min-height: 250px;
        justify-content: space-between;
        padding-right: 2em;
    }

    .conteneur-titre {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;

        .description {
            margin: 0;
            border: none;

            p {
                margin: 0;
                overflow: hidden;
                max-width: 100%;
            }

            .plus {
                display: none;
            }
        }
    }
    .conteneur-image {
        height: 275px;
        width: 425px;
        margin-bottom: 2em;

        img {
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }
}

.conteneur-articles-actualites:last-child {
    margin-bottom: 2em;
}



@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.conteneur-gauche.slide-in {
    animation: slide-in 2s forwards; /* Adjust the duration as needed */
}

.conteneur-image.slide-up {
    animation: slide-up 2s forwards; /* Adjust the duration as needed */
}

//BOUTTON VOIR PLUS
.conteneur-btn-voir {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 2em;

    &:hover {
        button.voir-plus {
            font-weight: 525;
        }

        img {
            height: 26px;
        }
    }

    button.voir-plus {
        font-weight: 500;
        margin: 0;
        color: $jaune;
        background-color: $noir;
        border: none;
        cursor: pointer;
    }

    img {
        padding-top: 23px;
        height: 25px;
        padding-left: 5px;
    }
}
