.section_compte {
    position: relative;
    background-image: url('../img/accueil/ban_compte.png'); 
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 365px;
   
}

.section_compte img {
    padding-top: 100px; 
    padding-bottom: 100px;  

}

.carre_blanc {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    top: 15px;
    right:0;
    width: 450px; 
    height: 366px; 
    background-color: rgba(255, 255, 255, 0.445);
    display: flex;
    flex-direction: column;
    text-align: right; 
  
}

.carre_blanc h1 {
    color: $jaune;
    font-size: 55px;
    z-index: 3;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.carre_blanc h3 {
    color: $noir;
    font-size: 40px;
    text-transform: none;
    text-align: left;
    margin-right: 40px;
    margin-bottom: 20px;
    line-height: 1.2;
  
}

.carre_blanc a {
    font-family: "pf-venue", sans-serif;
    font-size: 32px;
    text-decoration: none;
    color: $noir;
    font-weight: bold;
    background-color: rgba($rose, 0.8); 
    padding: 10px 50px;
   
}

.carre_blanc .compte {
    text-align: right; 
}

.carre_blanc .compte i {
    color: $noir; 
}

a.compte {
    text-decoration: none; 
    display: inline-block; 
    position: relative; 
    font-size: 42px;
   
}

.compte .material-icons {
    font-size: 40px;
    color:$rose;
    position: relative;
    top: 15%; 
    left: 7%;
    
}

.compte::before {
    content: ""; 
    position: absolute; 
    top: 55%; 
    left: 90%;
    transform: translate(-50%, -50%); 
    width: 38px; 
    height: 38px; 
    background-color: $noir;
 
}


