.section_concours {
    position: relative;
    background-image: url('../img/accueil/ban_concours.png'); 
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 365px;
    
  
    
}
.section_concours img {
    padding-top: 100px;
   

}

.carre_noir {
    position: absolute;
    padding-left: 15px;
    margin-bottom: 10px;
    top:0px;
    width: 450px; 
    height: 350px; 
    background-color: $noir;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
    z-index: 2;
}

.carre_noir h1 {
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 95px;
    z-index: 3;
}

.carre_noir h3 {
    color: $jaune;
    margin: 10px ;
    margin-top: 35px;
    font-size: 40px;
    padding-bottom: 20px;
    text-transform: none;
    z-index: 3;
}

.carre_noir a {
    font-family: "pf-venue", sans-serif;
    font-size: 32px;
    text-decoration: none;
    color: $jaune;
    font-weight: bold;
    z-index: 3;
    border: 3px solid $jaune;
    padding: 10px 50px;
}

.carre_noir .concours {
    text-align: right; 
    margin-right: 10px;
}

.carre_noir .concours i {
    color: $jaune; 
}

.concours {
    text-decoration: none; 
    display: inline-block; 
    position: relative; 
}

.concours .material-icons {
    font-size: 40px;
    color:$noir;
    position: relative;
    top: 15%; 
    left: 7.5%;
    z-index: 4;
}

.concours::before {
    content: ""; 
    position: absolute; 
    top: 55%; 
    left: 90%;
    transform: translate(-50%, -50%); 
    width: 38px; 
    height: 38px; 
    background-color: $jaune;
    z-index: 2; 
}


