.conteneur_concours {
    background-color: $noir;

 
    h2{
        color: $rose;
        margin-left: 100px;
        padding-top: 30px;
     }

    p.concours {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 0px;
     
    }

    .conteneur_le_concours {
        background-color: $noir;
        padding-bottom: 50px;
        position: relative;
    }

    .concours_bg,
    p.concours {
        background-color: $blanc;
        position: relative;
        color: $noir;
        list-style: none;
    }
    
    .concours_bg {
        margin: 0;
        padding-bottom: 20px;
    }

    ul {
        list-style: none;
        margin: 0px;
    }
}

.section_compte,
.section_concours {
    margin-bottom: 0;
}



