.conteneur_connexion {
    display: flex;
    justify-content: center;
    margin: 0 0 5em 0;

    section {
        flex: 1;
        position: relative;
        max-width: 400px;
    }

    .connexion_conteneur_membre {
        margin: 2em 0 0 0;
        padding: .5em 1em;
        display: inline-block;

        a {
            color: $vert;

            &:hover {
                transition: all 0.3s;
                text-decoration: underline;
                color: $rose;
            }

        }
    }
}


@media (max-width: 1060px) {

    .conteneur_connexion {
        display: block;

        section:first-child::after {
            display: none !important;
        }
    }
}
