.conteneur_concours {

    background-color: $noir;

    .conteneur_le_concours {
        background-color: $noir; 
        padding-bottom: 50px;
        position: relative;

    }

    .concours_bg {
        margin: 0;

        background-color: rgba(255, 255, 255, 0.90); /* Blanc avec 50 % de transparence */
        position: relative;

            color: $noir;
            list-style: none;
        }

        ul {
            list-style: none;
        }
    }
    .section_compte, .section_concours{
        margin-bottom: 0;
    }
}




