.contenu{
    background-color: $vert;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu .item {
    display: flex;
    align-items: center; 
  
}

.menu .item a {
    margin-right: 10px;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "pf-venue", sans-serif;
    text-transform: uppercase;
    color: $blanc;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
    cursor: pointer;
}

.menu .item a:hover {
    text-decoration: underline;
}


.menu .ligne {
    height: 40px; 
    width: 3px; 
    background-color: $rose;
    z-index: 1;
}

p.slogan {
    color: $rose;
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
}

.info {
    p {
        text-decoration: none; 
        transition: text-decoration 0.3s ease; 
        cursor: pointer; 
    }

    p:hover {
        text-decoration: underline; 
    }
}

img{
   margin-left: 350px;
   margin-top: 46px;
 
}
