.contenu{
    background-color: #0B8A80;
    width: 100%;
    
   
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu .item {
    display: flex;
    align-items: center; /* Centre le texte verticallement */
    margin-right: 20px; /* Espacement entre les éléments */
}

.menu .item p {
    margin-right: 10px; /* Espacement entre le texte et la ligne */
}

.menu .ligne {
    height: 40px; /* Hauteur de la ligne */
    width: 3px; /* Largeur de la ligne */
    background-color: #ECA6D9;
    z-index: 1;
}

p.slogan {
    color: #ECA6D9;
    text-transform: capitalize;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

