//COULEURS

$rose: #eca6d9;
$vert: #0b8a80;
$blanc: #ffff;
$noir: #030303;
$jaune: #eeb15e;
$rouge: #df1f1f;

//FONTS

h1 {
  font-family: "pf-venue-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $rose;
  font-size: 80px;
  color: $jaune;
  margin: 0;
}

h2 {
  font-family: "pf-venue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-transform: uppercase;
  color: $rose;
}

h3 {
  font-family: "pf-venue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  text-transform: uppercase;
}

h4 {
  font-family: "pf-venue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
}

p {
  font-family: "pf-venue", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
  color: $blanc;
  line-height: 1.5;
}

//GENERAL
html {
  background-color: $noir;
  margin: 0;
  padding: 0;
}

section {
  margin-left: 3em;
  margin-right: 3em;
}

//BOUTTONS
button {
  font-family: "pf-venue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 10px;
  border: $jaune 3px solid;
  background-color: $noir;
  color: $jaune;
  margin-left: 4.4em;
  margin-right: 4.4em;
  height: 70px;
}

button:hover {
  background-color: $jaune;
  color: $noir;
  a {
    color: $noir;
  }
}

//BORDURE AVEC TITRE
.conteneur-bordure {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-bottom: 3em;

  .bordure {
    width: 60%;
    border-bottom: solid $rose 3px;
    height: 100%;
  }

  .titre {
    width: 40%;
    padding-left: 1em;
    text-align: left;

    h2 {
      margin: 0;
    }
  }
}

// CITATION

blockquote {
  font-family: "pf-venue", sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  color: $rose;
  text-align: center;
  margin: 20px;
  padding: 20px;
  padding-bottom: 150px;
  position: relative;
  opacity: 0;
  animation: fade-in 1.5s ease-in-out forwards;
}

blockquote span.material-icons {
  font-size: 36px;
  vertical-align: middle;
  position: relative;
  top: -10px;
}

blockquote span.material-icons:first-child {
  transform: scaleX(-1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// intro

.intro {
  padding-left: 200px;
  padding-right: 200px;
  text-align: justify;
}

//Section activités page accueil

.section_activites {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

img.img_activite {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-right: 80px;
  max-width: 50%;
  margin-right: 20px;
}

.texte_droite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3.accueil_activite {
    font-size: 54px;
    margin-bottom: 30px;
    color: $rose;
  }

  p.accueil_activite {
    font-size: 36px;
    margin-bottom: 20px;
    margin-bottom: 50px;
    color: $rose;
  }

  a {
    text-decoration: none;
    color: $rose;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    transition: 0.3s;

    span.material-icons {
      color: $rose;
      font-size: 75px;
      padding-left: 100px;
      position: relative;
      transition: 0.3s;
    }

    &:hover {
      color: $blanc;
     
      span.material-icons {
        color: $blanc;
      
      }
    }
  }
}

//Section forfait page accueil

.section_forfaits {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

img.img_forfait {
  padding-bottom: 100px;
  padding-left: 80px;
  max-width: 50%;
  margin-right: 20px;
}

.texte_gauche {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3.accueil_forfait {
    font-size: 54px;
    margin-bottom: 30px;
    color: $jaune;
  }

  p.accueil_forfait {
    font-size: 36px;
    margin-bottom: 20px;
    margin-bottom: 50px;
    color: $jaune;
  }

  a {
    text-decoration: none;
    color: $jaune;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    transition: 0.3s;

    span.material-icons {
      color: $jaune;
      font-size: 75px;
      padding-left: 100px;
      position: relative;
      transition: 0.3s;
    }

    &:hover {
      color: $blanc;
     
      span.material-icons {
        color: $blanc;
      
      }
    }
  }
}

//section a propos page accueil

.section_apropos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

img.img_apropos {
  max-width: 50%;
  margin-right: 20px;
}

.texte_droite_deux {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 150px;
}

  h3.accueil_apropos {
    font-size: 54px;
    color: $rose;
  }

  p.accueil_apropos {
    font-size: 36px;
    margin-bottom: 20px;
    color: $rose;
  }

  a {
    text-decoration: none;
    color: $rose;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    transition: 0.3s;

    span.material-icons {
      color: $rose;
      font-size: 75px;
      padding-left: 100px;
      position: relative;
      transition: 0.3s;
    }

    &:hover {
      color: $blanc;
     
      span.material-icons {
        color: $blanc;
      
      }
    }
  }


// Section site Web
@import "_activites.scss";
@import "_actualites.scss";
@import "_ban-concours.scss";
@import "_ban-compte.scss";
@import "_connexion.scss";
@import "_ban-billet.scss";

// Section administrateur
@import "admin/utilisateurs.scss";
@import "admin/activites/index";
@import "admin/activites/form";
@import "admin/utilisateurs/index";

// Page d'accueil
@import "admin/accueil/index";

// Les composantes
@import "components/formulaire";
@import "components/footer.scss";
@import "components/nav.scss";
//Les boutons
@import "components/boutons/deconnexion";
@import "components/boutons/soumettre";
