//COULEURS

$rose: #eca6d9;
$vert: #0B8A80;
$blanc: #ffff;
$noir: #030303;
$jaune: #eeb15e;

//FONTS

h1 {
    font-family: "pf-venue-stencil", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: $rose;
    font-size: 80px;
    color: $jaune;
}

h2 {
    font-family: "pf-venue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-transform: uppercase;
    color: $rose;
}

h3 {
    font-family: "pf-venue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
}

p {
    font-family: "pf-venue", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 27px;
    color: $blanc;
}

//GENERAL
main{
    background-color: $noir
}


@import "_footer.scss";
@import "_nav.scss";
@import "_activites.scss";
