h1 {
  font-family: "pf-venue-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eca6d9;
  font-size: 80px;
  color: #eeb15e;
}

h2 {
  font-family: "pf-venue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-transform: uppercase;
  color: #eca6d9;
}

h3 {
  font-family: "pf-venue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
}

p {
  font-family: "pf-venue", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
  color: white;
}

html {
  background-color: #030303;
  margin: 0;
  padding: 0;
}

section {
  margin-left: 3em;
  margin-right: 3em;
}

article {
  margin-left: 10em;
  margin-right: 10em;
}

.contenu {
  background-color: #0B8A80;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.menu .item a {
  margin-right: 10px;
  font-size: 40px;
  font-family: "pf-venue", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  position: relative;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

.menu .item a:hover .ligne {
  width: 180px;
  background-color: #eca6d9;
  z-index: 1;
}

.menu .ligne {
  height: 65px;
  width: 3px;
  background-color: #eca6d9;
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease, background-color 0.3s ease;
  margin-left: -50px;
}

.logo {
  margin-left: 365px;
  margin-top: 30px;
}

p.slogan {
  color: #eca6d9;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info p {
  text-decoration: none;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
  cursor: pointer;
  margin-left: 50px;
  font-size: 36px;
}
.info p:hover {
  text-decoration: underline;
}
.info .reseau {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 30px;
}
.info .reseau-img {
  margin-right: 30px;
}

.copyright {
  text-align: center;
}

.conteneur-activites {
  display: flex;
  flex-direction: column;
}
.conteneur-activites .conteneur-date {
  display: flex;
  flex-direction: column;
}
.conteneur-activites .conteneur-date .conteneur-jours {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
}
.conteneur-activites .conteneur-date .conteneur-jours h2 {
  color: white;
}
.conteneur-activites .conteneur-date .conteneur-jours h2.selected {
  color: #eca6d9;
}
.conteneur-activites .conteneur-date .conteneur-bordure {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.conteneur-activites .conteneur-date .conteneur-bordure .bordure {
  width: 75%;
  border-top: solid #eca6d9 3px;
}
.conteneur-activites .conteneur-date .conteneur-bordure .date h2 {
  margin: 0;
}
.conteneur-activites .activites {
  display: flex;
  justify-content: space-between;
}
.conteneur-activites .activites p.heur {
  font-weight: bold;
}
.conteneur-activites .activites:nth-child(even) {
  border: 1px solid blue;
  flex-direction: row-reverse;
}
.conteneur-activites .activites .description {
  display: none;
}/*# sourceMappingURL=style.css.map */