@charset "UTF-8";
/***********************************************
 *                                          
 *           STYLES POUR LES COULEURS      
 *                                             
 ***********************************************/
/***********************************************
 *                                          
 *           STYLES POUR LES FONTS       
 *                                             
 ***********************************************/
h1 {
  font-family: "pf-venue-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eca6d9;
  font-size: 80px;
  margin-bottom: 0;
  margin-left: 2rem;
}

h2 {
  font-family: "pf-venue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-transform: uppercase;
  color: #eca6d9;
}

h3 {
  font-family: "pf-venue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  text-transform: uppercase;
}

h4 {
  font-family: "pf-venue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
}

p {
  font-family: "pf-venue", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
  color: white;
  line-height: 1.2;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

/***********************************************
 *                                          
 *           STYLES GENERAL POUR LE SITE        
 *                                             
 ***********************************************/
body {
  margin: 0px;
}

html {
  background-color: #030303;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

section {
  margin-left: 10em;
  margin-right: 10em;
}

/***********************************************
 *                                          
 *           STYLES POUR LES BOUTONS       
 *                                             
 ***********************************************/
button {
  font-family: "pf-venue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 10px;
  border: #eeb15e 3px solid;
  background-color: #030303;
  color: #eeb15e;
  margin-left: 4.4em;
  margin-right: 4.4em;
  height: 70px;
}

button:hover {
  color: #030303;
  background-color: #e99b30;
  transition: background-color, 0.3s;
}
button:hover a {
  color: #030303;
}

/***********************************************
 *                                          
 *           STYLES POUR LES BORDURES AVEC TITRE      
 *                                             
 ***********************************************/
.conteneur-bordure {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-bottom: 3em;
}
.conteneur-bordure .bordure {
  width: 60%;
  border-bottom: solid #eca6d9 3px;
  height: 100%;
}
.conteneur-bordure .titre {
  width: 40%;
  padding-left: 1em;
  text-align: left;
}
.conteneur-bordure .titre h2 {
  margin: 0;
}

/***********************************************
 *                                          
 *           STYLES POUR LA CITATION           
 *                                             
 ***********************************************/
/* Styles communs pour blockquote */
blockquote {
  color: #eca6d9;
  font-family: "pf-venue", sans-serif;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 20px;
  padding: 20px;
  padding-bottom: 100px;
  position: relative;
  opacity: 0;
  animation: fade-in 1.5s ease-in-out forwards;
}

/* Styles spécifiques pour span.material-icons */
blockquote span.material-icons {
  font-size: 36px;
  vertical-align: middle;
  position: relative;
  top: -10px;
}

/* Style spécifique pour le premier span.material-icons */
blockquote span.material-icons:first-child {
  transform: scaleX(-1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/***********************************************
 *                                          
 *           STYLES POUR L'INTRO          
 *                                             
 ***********************************************/
.intro {
  padding: 0 200px 100px;
  text-align: justify;
}

/***********************************************
 *                                          
 *           STYLES POUR LES SECTIONS       
 *                                             
 ***********************************************/
/* Styles communs pour les sections */
.section_activites,
.section_forfaits,
.section_apropos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}

/* Styles communs pour les images */
img.img_activite,
img.img_forfait,
img.img_apropos {
  max-width: 50%;
  margin-right: 20px;
  animation: CouleurImage 4.5s ease-in-out;
}

/* Styles communs pour les textes */
.texte_droite,
.texte_gauche {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.texte_droite {
  padding-left: 50px;
  animation: fadeIn 2s ease-in-out;
}

.texte_gauche {
  padding-right: 50px;
  animation: fadeInDeux 2s ease-in-out;
}

/* Styles communs pour les titres */
h3.accueil_activite,
h3.accueil_forfait,
h3.accueil_apropos {
  font-size: 54px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

h3.accueil_activite::after,
h3.accueil_forfait::after,
h3.accueil_apropos::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  overflow: hidden;
  animation: underlineEffect 3s ease-in 1.5 forwards; /* Durée et animation */
}

/* Styles communs pour les paragraphes */
p.accueil_activite,
p.accueil_forfait,
p.accueil_apropos {
  font-size: 36px;
  margin-bottom: 20px;
  margin-bottom: 50px;
}

/* Styles communs pour les liens */
a.accueil, a.accueil_forfait {
  font-family: "pf-venue-stencil", sans-serif;
  color: #eeb15e;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  transition: 0.3s;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid white;
}

a.accueil_forfait {
  color: #eca6d9;
}

a.accueil span.material-icons, a.accueil_forfait span.material-icons {
  font-size: 60px;
  padding-left: 200px;
  padding-bottom: 7px;
  position: relative;
  transition: 0.3s;
}

a.accueil:hover, a.accueil_forfait:hover {
  color: white;
}

a.accueil:hover span.material-icons {
  color: white;
}

/* Styles spécifiques pour les couleurs */
h3.accueil_activite {
  color: #eca6d9;
}

p.accueil_activite {
  color: #eca6d9;
}

h3.accueil_forfait {
  color: #eeb15e;
}

p.accueil_forfait {
  color: #eeb15e;
}

h3.accueil_apropos {
  color: #eca6d9;
}

p.accueil_apropos {
  color: #eca6d9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px); /* ou la valeur souhaitée */
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes fadeInDeux {
  from {
    opacity: 0;
    transform: translateX(50px); /* ou la valeur souhaitée */
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes CouleurImage {
  0% {
    filter: grayscale(100%); /* Démarre en noir et blanc */
  }
  100% {
    filter: grayscale(0%); /* Se termine en couleur */
  }
}
@keyframes underlineEffect {
  0% {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  40% {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
  60% {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
  100% {
    width: 0;
    left: 50%;
    transform: translateX(100%);
  }
}
/***********************************************
 *                                          
 *           STYLES POUR LE MUR DE BRIQUE          
 *                                             
 ***********************************************/
/* Styles communs pour la section actualités */
.section_actualites {
  width: 1500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: left;
  padding-top: 150px;
  padding-bottom: 150px;
}

.titre_actualite {
  font-family: "pf-venue", sans-serif;
  font-size: 30px;
  padding-left: 30px;
}

h1.accueil_actualite {
  font-size: 60px;
  text-transform: uppercase;
  color: #eeb15e;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 50px;
  margin: 0px;
}

.titre_actualite a.vers_actualite {
  display: inline-block;
  background-color: #0b8a80;
  padding: 15px 20px;
  margin-right: 35px;
  margin-bottom: 25px;
  text-decoration: none;
  color: white;
  position: relative;
}

.titre_actualite a.vers_actualite img {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 5;
  width: 200px;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateX(-50%);
  opacity: 0;
}

.titre_actualite a.vers_actualite:hover img {
  transition: opacity 0.5s;
  opacity: 1;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  display: none;
}

section.conteneur-activites {
  display: flex;
  flex-direction: column;
}
section.conteneur-activites h1 {
  margin: 0;
}
section.conteneur-activites .conteneur-date {
  display: flex;
  flex-direction: column;
}
section.conteneur-activites .conteneur-date .conteneur-jours {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
  margin-top: 1em;
}
section.conteneur-activites .conteneur-date .conteneur-jours h2 {
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}
section.conteneur-activites .conteneur-date .conteneur-jours h2.selected {
  color: #eca6d9;
}
section.conteneur-activites .conteneur-date .conteneur-jours h2:hover {
  color: #eca6d9;
}
section.conteneur-activites .conteneur-bordure.titre {
  margin-bottom: 100px;
}
section.conteneur-activites .titre h2 span {
  opacity: 0;
  animation: typing 2s forwards;
  animation-delay: var(--delay);
  display: inline-block;
  padding-bottom: 20px;
}
section.conteneur-activites .bordure.activites {
  width: 0;
  height: 2px;
  animation: expand 4s 0.5s forwards;
  border-bottom: solid #eca6d9 3px;
  margin-top: 36px;
}
@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
section.conteneur-activites article.activites {
  display: inline-flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(-50px);
  /* Start offscreen to the left */
  transition: opacity 2s ease, transform 2s ease;
  padding-bottom: 0;
}
section.conteneur-activites article.activites .conteneur-image {
  height: 150px;
  width: calc(100% - 300px);
  margin-left: 0;
  cursor: pointer;
  padding-top: 2em;
}
section.conteneur-activites article.activites .conteneur-image img {
  height: 100%;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
section.conteneur-activites article.activites .conteneur-image img:hover {
  box-sizing: border-box;
  animation: glowing-border 0.2s forwards;
}
@keyframes glowing-border {
  0% {
    border-color: transparent;
    box-shadow: none;
  }
  100% {
    border-color: white 0.3px;
    box-shadow: 0 0 35px rgba(245, 195, 220, 0.5);
  }
}
section.conteneur-activites article.activites .conteneur-image .description {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 0;
  padding: 1em 3em;
}
section.conteneur-activites article.activites .conteneur-image .description p {
  color: #030303;
}
section.conteneur-activites article.activites .conteneur-image .description .fermer {
  position: fixed;
  bottom: -765px;
  right: 63px;
}
section.conteneur-activites article.activites .conteneur-image .description .fermer p {
  font-family: "pf-venue-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  color: #eca6d9;
}
section.conteneur-activites article.activites .conteneur-titre {
  min-width: 300px;
  height: 200px;
  white-space: nowrap;
  text-align: right;
  overflow: hidden;
  margin-bottom: 2em;
}
section.conteneur-activites article.activites p.heure {
  font-weight: bold;
}
section.conteneur-activites article.activites:nth-child(even) {
  flex-direction: row-reverse;
}
section.conteneur-activites article.activites:nth-child(even) .conteneur-image {
  margin-right: 0;
  margin-left: initial;
}
section.conteneur-activites article.activites:nth-child(even) .conteneur-titre {
  text-align: left;
}
section.conteneur-activites .conteneur-image {
  opacity: 0;
  transform: translateX(-50px);
  /* Start offscreen to the left */
  transition: opacity 0.5s ease, transform 0.5s ease;
}
section.conteneur-activites .conteneur-image.visible {
  opacity: 1;
  transform: translateX(0);
  /* Move to original position */
}
section.conteneur-activites .activites.hidden {
  display: none;
}
section.conteneur-activites .hidden {
  display: none;
}
section.conteneur-activites .activites.visible {
  opacity: 1;
  transform: translateX(0);
  /* Move to original position */
}

button.voir.activite {
  margin-top: 2em;
}

section.conteneur-actualites .titre {
  margin-bottom: 100px;
}
section.conteneur-actualites .titre h2 span {
  opacity: 0;
  animation: typing 2s forwards;
  animation-delay: var(--delay);
  display: inline-block;
  padding-bottom: 20px;
}
section.conteneur-actualites .bordure.actualites {
  height: 2px;
  animation: expand 4s 0.5s forwards;
  border-bottom: solid #eca6d9 3px;
  margin-top: 36px;
}
@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.conteneur-articles-actualites {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #eca6d9;
  padding-top: 2em;
}
.conteneur-articles-actualites:last-child {
  border: none;
}
.conteneur-articles-actualites h3,
.conteneur-articles-actualites h4 {
  color: #eca6d9;
  margin: 0;
}
.conteneur-articles-actualites .conteneur-gauche {
  display: flex;
  width: 1000px;
  max-height: 500px;
  min-height: 250px;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}
.conteneur-articles-actualites .conteneur-titre {
  display: flex;
  flex-direction: column;
  padding-left: 6em;
  margin: 0;
}
.conteneur-articles-actualites .conteneur-titre .description {
  margin: 0;
  border: none;
}
.conteneur-articles-actualites .conteneur-titre .description p {
  margin: 0;
  overflow: hidden;
  max-width: 100%;
}
.conteneur-articles-actualites .conteneur-titre .description .plus {
  display: none;
}

.conteneur-articles-actualites:last-child {
  margin-bottom: 2em;
}

.conteneur-image {
  height: 275px;
  width: 425px;
  margin-bottom: 2em;
}
.conteneur-image img {
  height: 100%;
  width: 100%;
  margin: 0;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.conteneur-gauche.slide-in {
  animation: slide-in 2s forwards; /* Adjust the duration as needed */
}

.conteneur-image.slide-up {
  animation: slide-up 2s forwards; /* Adjust the duration as needed */
}

.conteneur-btn-voir {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-right: 2em;
}
.conteneur-btn-voir:hover button.voir-plus {
  font-weight: 525;
}
.conteneur-btn-voir:hover img {
  height: 26px;
}
.conteneur-btn-voir button.voir-plus {
  font-weight: 500;
  margin: 0;
  color: #eeb15e;
  background-color: #030303;
  border: none;
  cursor: pointer;
}
.conteneur-btn-voir img {
  padding-top: 23px;
  height: 25px;
  padding-left: 5px;
}

.conteneur_connexion {
  display: flex;
  justify-content: center;
  margin: 0 0 5em 0;
}
.conteneur_connexion section {
  flex: 1;
  position: relative;
  max-width: 400px;
}
.conteneur_connexion .connexion_conteneur_membre {
  margin: 2em 0 0 0;
  padding: 0.5em 1em;
  display: inline-block;
}
.conteneur_connexion .connexion_conteneur_membre a {
  color: #0b8a80;
}
.conteneur_connexion .connexion_conteneur_membre a:hover {
  transition: all 0.3s;
  text-decoration: underline;
  color: #eca6d9;
}

@media (max-width: 1060px) {
  .conteneur_connexion {
    display: block;
  }
  .conteneur_connexion section:first-child::after {
    display: none !important;
  }
}
h1.billetterie {
  color: #eeb15e;
}

section.billetterie h3,
section.billetterie p {
  color: #eeb15e;
}
section.billetterie span {
  color: #eeb15e;
  cursor: pointer;
}
section.billetterie article.conteneur-forfaits {
  margin: auto;
  max-width: 1000px;
  margin-bottom: 3rem;
}
section.billetterie .conteneur-titre {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeb15e;
}
section.billetterie .conteneur-titre .fleche {
  padding-top: 2rem;
}
section.billetterie .conteneur-description {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eeb15e;
}
section.billetterie .conteneur-description .conteneur-description-prix {
  display: flex;
  justify-content: space-between;
}
section.billetterie .conteneur-description .conteneur-description-prix .description {
  max-width: 850px;
}
section.billetterie .conteneur-description .conteneur-description-prix .prix p {
  font-size: 3.5em;
}
section.billetterie .conteneur-titre.border-visible {
  border-bottom: none;
}
section.billetterie .conteneur-description.voir-plus {
  display: none;
}

.conteneur-a_propos h2 {
  margin: 2em 1em 0 2em;
}
.conteneur-a_propos p.titre {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  color: #eeb15e;
}
.conteneur-a_propos .conteneur_nous_joindre {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem 0 9rem 0;
}
.conteneur-a_propos .conteneur_nous_joindre .conteneur_texte {
  min-width: 250px;
  padding: 0 1em;
}
.conteneur-a_propos .conteneur_nous_joindre .conteneur_texte h3 {
  color: #eeb15e;
  margin: 0 0 1rem 0;
}
.conteneur-a_propos .conteneur_nous_joindre .conteneur_texte .contact {
  margin: 1em 0 0 0;
}
.conteneur-a_propos .conteneur_nous_joindre .conteneur_map {
  position: relative;
  max-width: 1000px;
  overflow: hidden;
  width: 100%;
  height: 500px;
}
.conteneur-a_propos .conteneur_nous_joindre .conteneur_map .responsive-iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.conteneur_concours {
  background-color: #030303;
}
.conteneur_concours .conteneur_le_concours {
  background-color: #030303;
  padding-bottom: 50px;
  position: relative;
}
.conteneur_concours .concours_bg {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Blanc avec 50 % de transparence */
  position: relative;
}
.conteneur_concours .concours_bg h2 {
  margin: 0;
  padding: 1em 3em;
  background-color: #030303;
}
.conteneur_concours .concours_bg p {
  padding: 0 8em;
  color: #030303;
  list-style: none;
}
.conteneur_concours .concours_bg ul {
  list-style: none;
}

.conteneur-utilisateur {
  color: #eeb15e;
  margin: 0;
}
.conteneur-utilisateur .conteneur {
  margin: 0 3em;
}
.conteneur-utilisateur .presentation {
  font-size: 1.25em;
  margin: 0 10em;
}
.conteneur-utilisateur h3 {
  color: #eeb15e;
}
.conteneur-utilisateur .activites-admin {
  margin: 0;
}
.conteneur-utilisateur section {
  padding: 0.5em;
}
.conteneur-utilisateur section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.conteneur-utilisateur article {
  padding: 1em 0.5em;
  margin: 1em 0;
}
.conteneur-utilisateur article .les_dates {
  font-size: 1em;
}
.conteneur-utilisateur article div {
  color: white;
  margin: 1em 0;
}
.conteneur-utilisateur article.une_reservation {
  padding: 1em;
}
.conteneur-utilisateur article.une_reservation:hover {
  background-color: #0b8a80;
  transition: background-color 0.3s;
}
.conteneur-utilisateur article.une_reservation button {
  padding: 0.5em 1em;
  border-radius: 0.25em;
  margin-top: 2em;
  bottom: 0;
  right: 1em;
}
.conteneur-utilisateur article.une_reservation button:hover {
  background-color: red;
  transition: background-color 0.3s;
}
.conteneur-utilisateur .notice {
  font-size: 0.75em;
  color: red;
}
.conteneur-utilisateur .un_concours {
  margin: 0 0 5em 0;
}
.conteneur-utilisateur .un_concours h4 {
  color: #eca6d9;
  text-align: center;
}
.conteneur-utilisateur .un_concours img {
  padding: 0.5em;
  border: 0.1em solid #0b8a80;
}

.activites-admin,
.actualites-admin {
  margin: 5em;
}
.activites-admin .conteneur-grid,
.actualites-admin .conteneur-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.activites-admin .conteneur-grid .grid-item,
.actualites-admin .conteneur-grid .grid-item {
  flex: 0 1 calc(25% - 10px);
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #eca6d9;
}
.activites-admin .conteneur-grid h3.grid-title,
.actualites-admin .conteneur-grid h3.grid-title {
  color: #eca6d9;
}
.activites-admin .conteneur-grid .description,
.actualites-admin .conteneur-grid .description {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.conteneur-articles-actualites.admin {
  border-bottom: none;
}
.conteneur-articles-actualites.admin h2 {
  margin: 0;
}
.conteneur-articles-actualites.admin .description-actualites {
  max-width: 1000px;
}

.conteneur-image img {
  animation: none;
}

.conteneur-titre-activites-admin .conteneur-image {
  display: flex;
  width: 850px;
  height: 100px;
  justify-content: space-between;
}
.conteneur-titre-activites-admin .conteneur-image .titre {
  color: #eca6d9;
}
.conteneur-titre-activites-admin .conteneur-image .image {
  height: 100px;
  width: 750px;
}
.conteneur-titre-activites-admin .conteneur-image .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.formulaire_recherche.activite form .conteneur-recherche, .formulaire_recherche.actualite form .conteneur-recherche {
  display: flex;
  flex-direction: row;
}
.formulaire_recherche.activite form label p.activite, .formulaire_recherche.activite form label p.actualite, .formulaire_recherche.actualite form label p.activite, .formulaire_recherche.actualite form label p.actualite {
  color: #0b8a80;
  padding-right: 1em;
}
.formulaire_recherche.activite form button.recherche.activite, .formulaire_recherche.activite form button.recherche.actualite,
.formulaire_recherche.activite form select, .formulaire_recherche.actualite form button.recherche.activite, .formulaire_recherche.actualite form button.recherche.actualite,
.formulaire_recherche.actualite form select {
  width: 300px;
  height: 55px;
  text-align: center;
  border-radius: 0;
  font-size: 1.5em;
  font-weight: 400;
  display: block;
  color: white;
  cursor: pointer;
  border: solid #0b8a80 2px;
  padding: 0.6em;
}
.formulaire_recherche.activite form select, .formulaire_recherche.actualite form select {
  padding: 0.3em;
  background-color: #030303;
  color: white;
}

form.create,
form.edit {
  margin: 5em;
  display: flex;
  flex-direction: column;
}
form.create .conteneur-grid,
form.edit .conteneur-grid {
  display: flex;
  justify-content: space-between;
}
form.create label,
form.edit label {
  font-family: "pf-venue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #eca6d9;
}
form.create input,
form.edit input {
  padding-right: 1rem;
  padding-left: 1rem;
}
form.create .grid-item,
form.edit .grid-item {
  display: flex;
  flex-direction: column;
  border: solid 1px #eca6d9;
  width: 22%;
  margin-bottom: 1.5em;
  padding: 1em;
}
form.create .grid-item input,
form.create .grid-item select#endroit,
form.edit .grid-item input,
form.edit .grid-item select#endroit {
  height: 50px;
  font-size: 24px;
  font-family: "pf-venue", sans-serif;
  border-radius: 0;
  border: none;
}
form.create .grid-item.description,
form.create .grid-item.image,
form.edit .grid-item.description,
form.edit .grid-item.image {
  width: 100%;
  box-sizing: border-box;
}
form.create form.create.actualite,
form.edit form.create.actualite {
  flex-direction: column;
}
form.create .grid-item.titre.actualite,
form.edit .grid-item.titre.actualite {
  width: 100%;
  box-sizing: border-box;
}

.h3_user {
  color: #eeb15e;
}

.un_utilisateur {
  margin: 0.1em 0;
  padding: 0;
  border: 1px solid #eca6d9;
}
.un_utilisateur .conteneur_user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.un_utilisateur .conteneur_user:first-child {
  background-color: transparent;
}
.un_utilisateur .conteneur_user:hover {
  transition: all 0.15s;
  background-color: rgb(51, 51, 51);
}
.un_utilisateur .conteneur_user span.edit {
  color: #0b8a80;
}
.un_utilisateur .conteneur_user span.edit:hover {
  transition: all 0.3s;
  color: #075b54;
}
.un_utilisateur .conteneur_user span.delete {
  color: #df1f1f;
}
.un_utilisateur .conteneur_user span.delete:hover {
  transition: all 0.3s;
  color: #b21919;
}
.un_utilisateur .conteneur_user .infos_user {
  flex: 1;
  display: flex;
  align-items: center;
}
.un_utilisateur .conteneur_user .infos_user p {
  margin: 0 0.5em;
  min-width: 5em;
}
.un_utilisateur .conteneur_user .infos_user .titre_user {
  font-weight: bold;
  color: #eeb15e;
}
.un_utilisateur .conteneur_user .boutons_user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.un_utilisateur .conteneur_user .boutons_user a {
  margin: 0 0.5em;
  cursor: pointer;
}
.un_utilisateur .une_reservation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #eca6d9;
  margin: 1em 5em;
}
.un_utilisateur .une_reservation p {
  margin: 1em 0;
}
.un_utilisateur .une_reservation .bt_user_cancel {
  display: inline;
  font-size: 0.75em;
  background-color: #df1f1f;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  cursor: pointer;
  height: 2em;
  border: none;
  margin: 1em 0;
}
.un_utilisateur .une_reservation .bt_user_cancel:hover {
  background-color: #851313;
  transition: background-color, 0.3s;
}

section.formulaire_recherche {
  margin: 0 3em 5em 3em;
  padding: 2em 4em;
}
section.formulaire_recherche .bouton_liste_complete {
  margin: 2em 0 0 0;
  text-align: center;
}
section.formulaire_recherche .bouton_liste_complete a {
  color: #0b8a80;
}
section.formulaire_recherche .bouton_liste_complete a:hover {
  transition: all 0.3s;
  color: #eca6d9;
  text-decoration: underline;
}

.administration {
  margin: 1em 3em;
}
.administration label {
  color: #eeb15e;
}
.administration button {
  margin: 2em 0;
}
.administration .modification_mdp {
  margin: 2em 0;
  display: inline-block;
  border: 1px solid #eca6d9;
  padding: 1em 4em;
}

.admin_reservation_conteneur_bouton button {
  font-size: inherit;
  transition: color 0.3s;
}
.admin_reservation_conteneur_bouton button:hover {
  color: white;
  background-color: #df1f1f;
}

.conteneur-nav-admin {
  display: flex;
  justify-content: space-between;
  margin: 2em 5em;
  height: 50px;
  background-color: #030303;
  position: sticky;
  top: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}
.conteneur-nav-admin h2 {
  margin: 0;
}
.conteneur-nav-admin .deconnexion form {
  margin: 0;
}
.conteneur-nav-admin .bouton-accueil-admin {
  border: solid #0b8a80 2px;
  padding-top: 1em;
  color: white;
  cursor: pointer;
  width: 300px;
  height: 35px;
  text-align: center;
}
.conteneur-nav-admin .bouton-accueil-admin a {
  color: white;
  font-size: 1.5em;
  font-family: "pf-venue", sans-serif;
  text-transform: uppercase;
}
.conteneur-nav-admin .bouton-accueil-admin:hover {
  background-color: #075b54;
  transition: background-color, 0.3s;
}
.conteneur-nav-admin .boutton-retour {
  border: solid #0b8a80 2px;
  padding-top: 1em;
  color: white;
  cursor: pointer;
  width: 300px;
  height: 35px;
  text-align: center;
}
.conteneur-nav-admin .boutton-retour a {
  color: white;
  font-size: 1.5em;
  font-family: "pf-venue", sans-serif;
  text-transform: uppercase;
}
.conteneur-nav-admin .boutton-retour:hover {
  background-color: #075b54;
  transition: background-color, 0.3s;
}

.banniere_accueil {
  width: 100%;
  overflow: hidden;
}
.banniere_accueil img {
  width: 100%;
  height: auto;
  display: block;
}

.conteneur_accueil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.conteneur_accueil a {
  font-family: "pf-venue", sans-serif;
  width: 10em;
  text-decoration: none;
  background-color: #0b8a80;
  padding: 1em 2em;
  color: white;
  margin: 1em;
  border-radius: 0.25em;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;
}
.conteneur_accueil a:hover {
  background-color: #eca6d9;
  border-color: #0b8a80;
}

form.administration {
  border: 1px solid #eca6d9;
  padding: 2em;
}
form.administration label {
  color: #eeb15e;
}
form.administration select {
  padding: 1em 3em;
  border-radius: 0.25em;
  margin: 1em 0;
  background-color: lightgray;
}
form.administration input {
  margin: 0.25em 0 1em 0;
}
form.administration button {
  padding: 1em 2em;
  border-radius: 0.25em;
  font-size: inherit;
}
form.administration button:hover {
  background-color: #0b8a80;
  transition: background-color 0.3s;
}

form.la_recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10em;
}
form.la_recherche .barre_recherche {
  display: flex;
  align-items: center;
}
form.la_recherche .barre_recherche label {
  margin: 0 0.5em 0 0;
}
form.la_recherche .barre_recherche input {
  margin: 0;
}
form.la_recherche button {
  display: flex;
  align-items: center;
  margin: 0 1em;
  height: 2em;
  border: 1px solid #eeb15e;
}

.contenu {
  position: relative;
  width: 100%;
  background-color: #0b8a80;
}

.contenu_footer {
  position: relative;
  width: 80%;
  padding-left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  z-index: 20;
}

.menu_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0px;
  height: 70px;
}

.contenu_footer .item_footer {
  text-decoration: none;
  height: 70px;
  line-height: 1em;
  display: flex;
  align-items: center;
  position: relative;
}

.contenu_footer .item_footer::before {
  content: "";
  display: block;
  height: 100%;
  width: 3px;
  background-color: transparent;
  position: absolute;
  left: -3px;
}

.contenu_footer .item_footer .menu_footer {
  display: flex;
  align-items: center;
  padding-right: 70px;
  padding-left: 80px;
  height: 50px;
  font-size: 35px;
  font-family: "pf-venue", sans-serif;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  border-right: 3px solid #eca6d9;
}

.contenu_footer .item_footer:last-child .menu_footer {
  border-right: none;
}

.contenu_footer .item_footer:hover {
  background-color: #eca6d9;
  transition: width 0.2s ease;
  transition: background-color 1s ease-out;
}

.contenu_footer .item_footer:hover::before {
  background-color: #eca6d9;
  transition: background-color 1s ease-out;
}

.logo {
  margin-left: 365px;
  margin-top: 60px;
  z-index: 2;
}

p.slogan {
  color: #eca6d9;
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

.info,
.info p.adresse,
.info p.telephone,
.info img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
  cursor: pointer;
  margin-left: 30px;
  padding-right: 150px;
  font-size: 24px;
  color: #030303;
  font-weight: bold;
  border-right: 3px solid #eca6d9;
}

.info {
  border-right: none;
}

.info a:last-child img {
  border-right: none;
}

p.adresse:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  color: #eca6d9;
}

.nav {
  position: relative;
}

.bg {
  position: absolute;
  top: 83px;
  z-index: 1;
  width: 100%;
}

.contenu_nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  z-index: 20;
}

.background {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  background-color: #0b8a80;
}

.ligne_rose {
  width: 100%;
  background-color: #eca6d9;
  height: 3px;
  position: absolute;
  margin-top: 27px;
}

.menu_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0px;
  height: 70px;
  margin-top: -14px;
}

.menu_nav .item_nav {
  text-decoration: none;
  height: 70px;
  line-height: 1em;
  display: flex;
  align-items: center;
  position: relative;
}

.menu_nav .item_nav::before {
  content: "";
  display: block;
  height: 100%;
  width: 3px;
  background-color: transparent;
  position: absolute;
  left: -3px;
}

.menu_nav .item_nav .nav {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  height: 50px;
  font-size: 30px;
  font-family: "pf-venue", sans-serif;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  border-right: 3px solid #eca6d9;
}

.menu_nav .item_nav:last-child .nav {
  border-right: none;
}

.menu_nav .item_nav:hover {
  background-color: #eca6d9;
  transition: width 0.2s ease;
  transition: background-color 1s ease-out;
}

.menu_nav .item_nav:hover::before {
  background-color: #eca6d9;
  transition: background-color 1s ease-out;
}

a.billet {
  height: 270px;
  text-decoration: none;
}

.billet {
  width: 170px;
  height: 200px;
  margin-left: 50px;
  padding-right: 40px;
  background: url("../img/accueil/billet.jpg");
  background-repeat: no-repeat;
}

.billet:hover {
  filter: grayscale(100%) sepia(100%) hue-rotate(300deg);
  filter: grayscale(100%) sepia(100%) hue-rotate(300deg) brightness(100%) saturate(100%);
  transition: 0.5s;
}

p.texte {
  font-family: "pf-venue", sans-serif;
  color: #030303;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 55px;
  margin-left: 25px;
}

.reseau {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 50px;
  width: 15%;
}

img.reseau-img {
  max-width: 100%;
}

.logo-nav {
  margin-left: 20px;
  margin-right: 100px;
}

a.connexion {
  font-family: "pf-venue", sans-serif;
  font-size: 36px;
  margin-top: 200px;
  color: #eca6d9;
  display: flex;
  align-items: center;
  text-decoration: none;
  right: 50px;
  position: absolute;
  z-index: 45;
}

a.connexion .material-icons {
  margin-bottom: 10px;
  color: #eca6d9;
  font-size: 40px;
  text-decoration: none;
}

section.hero {
  margin: 0;
}

.conteneur-hero {
  width: 100%;
  height: 400px;
}
.conteneur-hero img.image-hero {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}
.conteneur-hero .reserver.hero {
  position: relative;
  top: -124px;
  left: 1344px;
}
.conteneur-hero .compteur.petit {
  position: relative;
  top: -316px;
  left: 24px;
}

.deconnexion form {
  margin: 4em 3em 3em 3em;
  text-align: right;
}
.deconnexion input {
  background-color: #df1f1f;
  padding: 1em 2em;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.deconnexion input:hover {
  background-color: #851313;
  transition: background-color, 0.3s;
}

.bouton_creation_employe {
  margin: 2em 0;
  text-align: right;
}
.bouton_creation_employe a {
  background-color: #0b8a80;
  padding: 1em 2em;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.bouton_creation_employe a:hover {
  background-color: #eca6d9;
  transition: background-color, 0.3s;
}

.conteneur_bouton_accueil_admin {
  position: relative;
}
.conteneur_bouton_accueil_admin .bouton_accueil_admin {
  background-color: #0b8a80;
  padding: 1em 2em;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 3em;
}
.conteneur_bouton_accueil_admin .bouton_accueil_admin a {
  font-size: 1em;
  color: white;
}
.conteneur_bouton_accueil_admin .bouton_accueil_admin:hover {
  background-color: #075b54;
  transition: background-color, 0.3s;
}

.btn-concours {
  background-color: #030303;
  color: #eeb15e;
  cursor: pointer;
  width: 350px;
  height: 65px;
  padding-right: 1em;
  border: solid #eeb15e 3px;
  box-sizing: border-box;
  display: inline-block;
}
.btn-concours a {
  display: flex;
  justify-content: space-between;
}
.btn-concours p {
  color: #eeb15e;
  margin: 0;
  font-family: "pf-venue", sans-serif;
  text-transform: uppercase;
  padding-top: 12px;
  padding-left: 10px;
}
.btn-concours .conteneur-span {
  background-color: #eeb15e;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
  margin-right: 42px;
}
.btn-concours .conteneur-span span {
  color: #030303;
  font-weight: 500;
  font-size: 2em;
}
.btn-concours:hover {
  background-color: #eeb15e;
  transition: background-color, 0.3s;
  border: solid #eeb15e 3px;
}
.btn-concours:hover p {
  color: #030303;
}
.btn-concours:hover .conteneur-span {
  background-color: #030303;
}
.btn-concours:hover .conteneur-span span {
  color: #eeb15e;
}

.conteneur-btn {
  display: flex;
  justify-content: space-between;
  border-bottom: #eca6d9 solid 2px;
  width: 1000px;
  margin: auto;
}

button.ajouter,
.modifier,
.supprimer {
  background-color: #030303;
  border: #eeb15e 2px solid;
  font-weight: 400;
  font-size: 24px;
  height: 55px;
  text-align: center;
  width: 275px;
  margin: 2em 0 3em;
}
button.ajouter a,
.modifier a,
.supprimer a {
  color: #eeb15e;
}

button.ajouter:hover,
.modifier:hover,
.supprimer:hover {
  color: #030303;
  background-color: #efb86c;
  transition: background-color, 0.3s;
}
button.ajouter:hover a,
.modifier:hover a,
.supprimer:hover a {
  color: #030303;
}

form button.supprimer {
  transition: 0;
  border-radius: 0;
  padding: 0;
  padding-top: 10px;
}

.reserver {
  background-color: #eca6d9;
  color: #030303;
  cursor: pointer;
  width: 325px;
  height: 65px;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
  left: 670px;
  border: solid #eca6d9 3px;
  box-sizing: border-box;
}
.reserver a {
  color: #030303;
  font-size: 1.5em;
  font-family: "pf-venue", sans-serif;
  text-transform: uppercase;
  padding-top: 0.6rem;
}
.reserver:hover {
  background-color: #030303;
  transition: background-color, 0.3s;
  border: solid #eca6d9 3px;
}
.reserver:hover a,
.reserver:hover span {
  color: #eca6d9;
}

.alerte_succes p {
  color: #0b8a80;
}

.alerte_erreur p {
  color: #df1f1f;
}

.deconnexion form {
  margin: 4em 3em 3em 3em;
  text-align: right;
}
.deconnexion input {
  background-color: #df1f1f;
  padding: 1em 2em;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.deconnexion input:hover {
  background-color: #851313;
  transition: background-color, 0.3s;
}

.bouton_creation_employe {
  margin: 2em 0;
  text-align: right;
}
.bouton_creation_employe a {
  background-color: #0b8a80;
  padding: 1em 2em;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.bouton_creation_employe a:hover {
  background-color: #eca6d9;
  transition: background-color, 0.3s;
}

.section_concours {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 310px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section_concours img {
  padding-top: 100px;
}

.carre_noir {
  position: absolute;
  margin-left: 4rem;
  padding-left: 2rem;
  top: 0px;
  width: 450px;
  height: 310px;
  background-color: #030303;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.carre_noir h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 95px;
  z-index: 3;
  color: #eeb15e;
}

.carre_noir h3 {
  color: #eeb15e;
  margin: 0px;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: none;
  z-index: 3;
}

.section_compte {
  position: relative;
  background-image: url("../img/accueil/ban_compte.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 365px;
}

.section_compte img {
  padding-top: 100px;
  padding-bottom: 100px;
}

.carre_blanc {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 100px;
  right: 0;
  width: 450px;
  height: 366px;
  background-color: rgba(255, 255, 255, 0.445);
  display: flex;
  flex-direction: column;
  text-align: right;
}

.carre_blanc h1.titre_compte {
  color: #eeb15e;
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.carre_blanc h3.texte_compte {
  color: #030303;
  font-size: 40px;
  text-transform: none;
  text-align: left;
  margin-right: 40px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.carre_blanc a {
  font-family: "pf-venue", sans-serif;
  font-size: 32px;
  text-decoration: none;
  color: #030303;
  font-weight: bold;
  background-color: rgba(236, 166, 217, 0.8);
  padding: 10px 50px;
}

.carre_blanc .compte {
  text-align: right;
}

.carre_blanc .compte i {
  color: #030303;
}

a.compte {
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 42px;
}

.compte .material-icons {
  font-size: 40px;
  color: #eca6d9;
  position: relative;
  top: 15%;
  left: 7%;
}

.compte::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
  background-color: #030303;
}

.section_billet {
  position: relative;
  background-image: url("../img/accueil/ban_billet.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 310px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section_billet img {
  padding-top: 100px;
}

.rectangle_blanc {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 150px;
  width: 90px;
  height: 310px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.rectangle_blanc h1 {
  color: #030303;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 95px;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(180deg);
  transform-origin: center;
  position: absolute;
  top: -20%;
  left: -6%;
  width: 100%;
  height: 100%;
  display: flex;
}

.rectangle_blanc .forfaits {
  font-size: 32px;
  text-decoration: none;
  color: #eeb15e;
  font-weight: bold;
  z-index: 3;
  border: 3px solid #eeb15e;
  padding: 10px 50px;
  text-align: right;
}

.rectangle_blanc .forfaits i {
  color: #eeb15e;
}

.forfaits {
  font-family: "pf-venue", sans-serif;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  color: #030303;
}

.forfaits .material-icons {
  font-size: 50px;
  color: #030303;
  vertical-align: middle;
  /* Aligner verticalement au centre */
  left: 9%;
  padding-left: 20px;
}

.reserver.banniere {
  position: relative;
  left: 1350px;
  top: 215px;
  right: 0px;
}

.petit {
  max-width: 450px;
}
@media only screen and (max-width: 2500px) {
  .petit #label {
    font-size: 2.43em;
  }
  .petit #countdown p {
    font-size: 4.38em;
  }
  .petit #countdown_texte p {
    font-size: 1.08em;
  }
}

.grand {
  max-width: 750px;
  font-size: 16px;
}
@media only screen and (max-width: 650px) {
  .grand #label {
    font-size: 4.3em;
  }
  .grand #countdown p {
    font-size: 7.78em;
  }
  .grand #countdown_texte p {
    font-size: 1.9em;
  }
}
@media only screen and (max-width: 500px) {
  .grand #label {
    font-size: 3.2em;
  }
  .grand #countdown p {
    font-size: 5.84em;
  }
  .grand #countdown_texte p {
    font-size: 1.44em;
  }
}
@media only screen and (max-width: 450px) {
  .grand #label {
    font-size: 2.43em;
  }
  .grand #countdown p {
    font-size: 4.38em;
  }
  .grand #countdown_texte p {
    font-size: 1.08em;
  }
}

/* Common styles for both "petit" and "grand" classes */
.compteur p {
  font-size: 5.75em;
  font-family: "pf-venue-stencil";
  text-align: center;
  margin: 0;
}

#countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  justify-content: center;
}

#countdown p {
  margin: 0;
  font-size: 10.38em;
  text-align: center;
}

#countdown_texte {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  justify-content: center;
}

#countdown_texte p {
  font-size: 2.56em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */