.contenu {
    position: relative;
    width: 100%;
    background-color: $vert;
}

.contenu_footer {
    position: relative;
    width: 80%;
    padding-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    z-index: 20;
}

.menu_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    height: 70px;
}



.contenu_footer .item_footer {
    text-decoration: none;
    height: 70px;
    line-height: 1em;
    display: flex;
    align-items: center;
    position: relative;
}

.contenu_footer .item_footer::before {
    content: '';
    display: block;
    height: 100%;
    width: 3px;
    background-color: transparent;
    position: absolute;
    left: -3px;

}

.contenu_footer .item_footer .menu_footer {
    display: flex;
    align-items: center;
    padding-right: 70px;
    padding-left: 80px;
    height: 50px;
    font-size: 35px;
    font-family: "pf-venue", sans-serif;
    text-transform: uppercase;
    color: $blanc;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    border-right: 3px solid $rose;
}

.contenu_footer .item_footer:last-child .menu_footer {
    border-right: none;
}

.contenu_footer .item_footer:hover {
    background-color: $rose;
    transition: width 0.2s ease;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}


.contenu_footer .item_footer:hover::before {
    background-color: $rose;
    transition: background-color 1s ease-out;
}

.logo {
    margin-left: 300px;
    margin-top: 60px;
    z-index: 2;
}

p.slogan {
    color: $rose;
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

.info,
.info p.adresse,
.info p.telephone,
.info img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
    cursor: pointer;
    margin-left: 30px;
    padding-right: 150px;
    font-size: 24px;
    color: $noir;
    font-weight: bold;
    border-right: 3px solid $rose;
}

.info {
    border-right: none;
}


.info a:last-child img {
    border-right: none;
}

p.adresse:hover {
    text-decoration: underline;
}

.conteneur-copyright {
    display: flex;
    flex-direction: column;

    .copyright {
        text-align: center;
        color: $rose;
        margin-bottom: 1rem;
    }

    .connexion-admin {
        color: $rose;
        text-align: center;
        margin-bottom: 1rem;
    }
}

/***********************************************
 *
 *           STYLES POUR LE RESPONSIVE
 *
 ***********************************************/
 @media screen and (max-width: 1200px) {
    .contenu_footer {
        width: 90%;
        padding-left: 0px;
        padding-top: 15px;
    }

    .menu_footer {
        height: 50px;
    }

    .contenu_footer .item_footer .menu_footer {
        padding-right: 50px;
        padding-left: 60px;
        font-size: 28px;
    }

    .logo {
        margin-left: 150px;
        max-width: 80%;
        width: auto;
    }

    p.slogan {
        font-size: 44px;
    }

    .info,
    .info p.adresse,
    .info p.telephone,
    .info img {
        margin-left: 55px;
        padding-right: 70px;
        font-size: 20px;
    }
}




@media screen and (max-width: 768px) {
    .contenu_footer {
        width: 60%;
       
    }

    .menu_footer {
      
        padding-left: 35px;
        height: auto;
    }

    .contenu_footer .item_footer .menu_footer {
        font-size: 25px;
        border-right: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        margin-top: 30px;
        width: auto;
        max-width: 62%;
       
    }

    p.slogan {
   font-size: 30px;
    }

    .info,
    .info p.adresse,
    .info p.telephone,
    .info img {
        margin-left: 25px;
        padding-right: 30px;
        font-size: 20px;
        border-right: none;
    }

    img.reseau-img-footer{
        width:auto;
        max-width: 50%;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 450px) {
    .contenu_footer {
        width: 100%;
        padding-left: 10px;
    }

    .menu_footer {
        height: auto;
    }

    .contenu_footer .item_footer .menu_footer {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
    }

    .logo {
        margin-left: 0;
        margin-top: 30px;
    }

    p.slogan {
        font-size: 32px;
    }

    .info,
    .info p.adresse,
    .info p.telephone,
    .info img {
        margin-left: 10px;
        padding-right: 20px;
        font-size: 16px;
    }
}


