.contenu {
  position: relative;
  width: 100%;
  background-color: $vert;
}

.contenu_footer {
  position: relative;
  width: 80%;
  padding-left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  z-index: 20;
}

.menu_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0px;
  height: 70px;
 

}

.contenu_footer .item_footer  {
  text-decoration:none;
  height: 70px;
  line-height: 1em;
  display: flex;
  align-items: center;
}

.contenu_footer .item_footer .menu_footer {
  display: flex;
  align-items: center;
  padding-right: 70px;
  padding-left: 80px;
  height: 50px;
  font-size: 35px;
  font-family: "pf-venue", sans-serif;
  text-transform: uppercase;
  color: $blanc;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  border-right: 3px solid $rose;
}

.contenu_footer .item_footer:last-child .menu_footer {
  border-right: none;
}

.menu_footer .item_footer:hover  {
  background-color: $rose;
  transition: width 0.2s ease;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.logo {
  margin-left: 365px;
  margin-top: 60px;
  z-index: 2;
}

p.slogan {
  color: $rose;
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

.info,
.info p.adresse,
.info p.telephone,
.info img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
  cursor: pointer;
  margin-left: 30px;
  padding-right: 150px;
  font-size: 24px;
  color: $noir;
  font-weight: bold;
  border-right: 3px solid $rose;
}

.info:last-child {
  border-right: none;
}

p.adresse:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  color: $rose;
}
