form.administration {

    border: 1px solid $rose;
    padding: 2em;

    label {
        color: $jaune;
    }

    select {
        padding: 1em 3em;
        border-radius: .25em;
        margin: 1em 0;
        background-color: lightgray;
    }

    input {
        margin: .25em 0 1em 0;
    }

    button {
        padding: 1em 2em;
        border-radius: .25em;
        font-size: inherit;

        &:hover {
            background-color: $vert;
            transition: background-color 0.3s;
        }
    }
}

form.la_recherche {
    display: flex;
    align-items: center;
    justify-content: center;

    .barre_recherche {
        display: flex;
        align-items: center;

        label {
            margin: 0 .5em 0 0 ;
        }

        input {
            margin: 0;
        }
    }

    button {
        display: flex;
        align-items: center;
        margin: 0 1em;
        height: 2em;
        border: 1px solid $jaune;
    }
}
