form.administration {

    label {
        color: $jaune;
    }

    select {
        padding: 1em 3em;
        border-radius: .25em;
        margin: 1em 0;
        background-color: lightgray;
    }

    input {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 2em;
        border-radius: .25em;
        font-size: inherit;

        &:hover {
            background-color: $vert;
            transition: background-color 0.3s;
        }
    }
}
