section.hero {
    margin: 0;
}

.conteneur-hero {
    width: 100%;
    height: 400px;

    img.image-hero {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }

    .reserver.hero {
        position: relative;
        top: -124px;
        left: 1344px;
    }

    .compteur.petit {
        position: relative;
        top: -316px;
        left: 24px;
    }
}
