section.hero {
    margin: 0;
}

.conteneur-hero {
    width: 100%;
    height: 400px;

    img.image-hero {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }

    .compteur.petit{
        position: relative;
        bottom: 220px;
        left: 1200px;
    }
}
