section.hero {
    margin: 0;
}

.conteneur-hero {
    width: 100%;
    height: 400px;
    position: relative;

    img.image-hero {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }

    .reserver.hero {
        position: absolute;
        right: 40px;
        bottom: 40px;
    }

    .compteur.petit {
        position: relative;
        bottom: 240px;
        left: 40px;
    }
}
