.nav {
    position: relative;
}

.bg {
    position: absolute;
    top: 33px;
    z-index: 1;
    width: 100%;
}

.contenu_nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    z-index: 20;
}

.background {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    background-color: $vert;
}

.ligne_rose {
    width: 100%;
    background-color: $rose;
    height: 3px;
    position: absolute;
    margin-top: 27px;
}

.menu_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    height: 70px;
    padding-bottom: 45px;
}

.menu_nav .item_nav {
    text-decoration: none;
    height: 70px;
    line-height: 1em;
    display: flex;
    align-items: center;
    position: relative;
}

.menu_nav .item_nav::before {
    content: '';
    display: block;
    height: 100%;
    width: 3px;
    background-color: transparent;
    position: absolute;
    left: -3px;
}

.menu_nav .item_nav .nav {
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    height: 50px;
    font-size: 30px;
    font-family: "pf-venue", sans-serif;
    text-transform: uppercase;
    color: $blanc;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    border-right: 3px solid $rose;
}

.menu_nav .item_nav:last-child .nav {
    border-right: none;
}

.menu_nav .item_nav:hover {
    background-color: $rose;
    transition: width 0.2s ease;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.menu_nav .item_nav:hover::before {
    background-color: $rose;
    transition: background-color 1s ease-out;
}

a.billet {
    text-decoration: none;
}

.billet {
    width: 170px;
    height: 200px;
    margin-left: 50px;
    padding-right: 40px;
    background: url('../img/accueil/billet.jpg');
    background-repeat: no-repeat;
}

.billet:hover {
    filter: grayscale(100%) sepia(100%) hue-rotate(300deg);
    filter: grayscale(100%) sepia(100%) hue-rotate(300deg) brightness(100%) saturate(100%);
    transition: .5s;
}

p.texte {
    font-family: "pf-venue", sans-serif;
    color: $noir;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 29px;
}

.reseau {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;
    width: 15%;
    padding-bottom: 45px;
}

img.reseau-img {
    max-width: 100%;
}

.logo-nav {
    margin-left: 20px;
    margin-right: 100px;
}

a.connexion {
    font-family: "pf-venue", sans-serif;
    font-size: 36px;
    margin-top: 150px;
    color: $rose;
    display: flex;
    align-items: center;
    text-decoration: none;
    right: 50px;
    position: absolute;
    z-index: 45;
}

a.connexion .material-icons {
    margin-bottom: 10px;
    color: $rose;
    font-size: 40px;
    text-decoration: none;
}

.hamburger span.menuIcon.material-icons{
    display: none;
}
//NAV RESPONSIVE
@media only screen and (max-width: 1750px) {
    img.reseau-img {
        width: 95%;
    }

}

@media only screen and (max-width: 1700px) {
    img.reseau-img {
        width: 90%;
    }
}

@media only screen and (max-width: 1600px) {


    .reseau {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 50px;
        padding-bottom: 0px;
        margin-top: 8px;
    }

    .reseau a img{
        padding-bottom:3rem ;
    }

    .menu_nav {
        margin-left: 100px;

        .item_nav .nav {
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 0px;
            margin-top: 8px;
        }
    }

    .logo-nav {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .contenu_nav {
        margin-bottom: 40px;

        a.hamburger {
            margin-bottom: 45px;
            margin-top: 5px;
        }
    }

}

@media only screen and (max-width: 1480px) {
    .billet {
        display: none;
    }

    .menu_nav {
        padding-bottom: 0;
    }

    .contenu_nav a.hamburger {
        margin-bottom: 0;
    }

    .logo-nav {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .reseau a img{
       padding-top: 3rem;
     }
}

@media only screen and (max-width: 1250px) {
    .menu_nav {
        margin-left: 40px;

        .menu_nav .item_nav .nav {
            font-size: 24px;
        }
    }

    img.reseau-img {
       display: none;
    }
    .hamburger span.menuIcon.material-icons{
        display: block;
    }
}

@media only screen and (max-width: 1180px) {
    .menu_nav {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1160px) {
    .menu_nav {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1126px) {
    .menu_nav .item_nav .nav {
        font-size: 24px;
    }
}


@media only screen and (max-width:980px) {
    .menu_nav {
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    a.connexion {
        display: none;
    }

    section.menu.showMenu ul {
        margin-left: 2em;
    }
}

@media only screen and (max-width: 452px) {
    .contenu_nav img {
        width: 200px;
        margin-top: 35px;
        margin-left: 60px;
    }

    .contenu_nav a.hamburger {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 375px) {

    .contenu_nav {
        .reseau {
            display: none;
        }

        a.hamburger {
            margin-top: 20px;
            margin-right: 20px;
        }
    }

    .menu img {
        padding-top: 5em;
    }
}

a.hamburger {

    border: none;
    color: $rose;
    background-color: $vert;
    margin: 0px;
    margin-bottom: 34px;
    margin-right: 3.5rem;
    cursor: pointer;

    &:hover {
        background-color: $vert;
    }
}

span.menuIcon.material-icons {
    font-size: 54px;
}

.menu {
    margin: 0;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: $noir;
    width: 100%;
    height: 100%;

    img {
        margin-top: 3em;
        margin-left: 3em;
    }

    ul {
        margin-left: 3em;
        list-style: none;

        li {
            margin-bottom: 2em;

            a {
                font-family: "pf-venue", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 36px;
                text-transform: uppercase;
                color: $blanc;

                &:hover {
                    color: $rose;
                }
            }
        }
    }
}

.closeIcon {
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}

