.btn-concours, .btn-compte {
    background-color: $noir;
    color: $jaune;
    cursor: pointer;
    width: 350px;
    height: 65px;
    padding-right: 1em;
    border: solid $jaune 3px;
    box-sizing: border-box;
    display: inline-block;

    a {
        display: flex;
        justify-content: space-around;
    }

    p {
        color: $jaune;
        margin: 0;
        font-family: "pf-venue", sans-serif;
        text-transform: uppercase;
        padding-top: 15px;
        padding-left: 26px;
    }

    .conteneur-span {
        background-color: $jaune;
        height: 2rem;
        width: 2rem;
        border-radius: 5px;
        display: inline-block;
        margin-top: 14px;
        margin-right: 13px;

        span {
            color: $noir;
            font-weight: 500;
            font-size: 2rem;
        }
    }

    &:hover {
        background-color: $jaune;
        transition: background-color, 0.3s;
        border: solid $jaune 3px;

        p {
            color: $noir;
        }

        .conteneur-span {
            background-color: $noir;

            span {
                color: $jaune;
            }
        }
    }
}
.btn-compte{
position: relative;
right: -101px;

}


