//BOUTTONS AJOUT, MODIFIER ET SUPPRIMER
.conteneur-btn {
    display: flex;
    justify-content: space-between;
    border-bottom: $rose solid 2px;
    width: 1000px;
    margin: auto;
}

button.ajouter,
.modifier,
.supprimer {

    background-color: $noir;
    border: $jaune 2px solid;
    font-weight: 400;
    font-size: 24px;
    height: 55px;
    text-align: center;
    width: 275px;
    margin: 2em 0 3em;
    padding-top: 0;

    a {
        color: $jaune;
    }
    span{
        padding-left: 1rem;
    }
}


button.ajouter:hover,
.modifier:hover,
.supprimer:hover {
    color: $noir;
    background-color: lighten($jaune, 3%);
    transition: background-color, 0.3s;

    a {
        color: $noir;
    }
}

form button.supprimer {
    transition: 0;
    border-radius: 0;
    padding: 0;
}
