.reserver {

    flex-direction: row;
    background-color: $rose;
    color: $noir;
    cursor: pointer;
    width: 325px;
    height: 65px;
    box-sizing: border-box;

    a.btn-reserver {
        display: flex;
        justify-content: space-around;
        font-family: "pf-venue", sans-serif;
        text-transform: uppercase;

        p {
            padding-top: 0.8rem;
            color: $noir;
            padding-left: 1rem;
        }
    }

    &:hover {
        background-color: $noir;
        transition: background-color 0.3s;

        a.btn-reserver p,
        span.material-icons {
            color: $rose;
        }
    }

    .btn-reserver .material-icons {
        font-size: 50px;
        color: $noir;
        padding-top: 0.5rem;
        padding-left: 2rem;
    }
}
