.reserver {
    background-color: $rose;
    color: $noir;
    cursor: pointer;
    width: 325px;
    height: 65px;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    left: 670px;
    border: solid $rose 3px;
    box-sizing: border-box;
    a {
        color: $noir;
        font-size: 1.5em;
        font-family: "pf-venue", sans-serif;
        text-transform: uppercase;
        padding-top: 0.6rem;

    }

    &:hover {
        background-color: $noir;
        transition: background-color, 0.3s;
        border: solid $rose 3px;


        a,
        span {
            color: $rose;
        }

    }
}
