.bouton_creation_employe {
        margin: 2em 0;
        text-align: right;

    a {
        background-color: $vert;
        padding: 1em 2em;
        color: white;
        border: none;
        border-radius: .25em;
        cursor: pointer;
    }

    a:hover {
        background-color: $rose;
        transition: background-color, 0.3s;
    }
}
