.form_erreur {

    p {
        color: $rouge;
        font-size: 1em;
        margin: .5em 0;
    }
}
/*
.administration {
    div {

        p {
            color: $rouge;
            font-size: 1em;
            font-weight: normal;
            margin: .5em 0;
        }

        &:focus-within {

            p {
                font-weight: normal;
            }
        }
    }
}
*/
