.conteneur-nav-admin {
    display: flex;
    justify-content: space-between;
    margin: 2em 5em;
    height: 50px;
    background-color: $noir;
    position: sticky;
    top: 0;
    padding-top: 2em;
    padding-bottom: 2em;

    h2 {
        margin: 0;
    }

    .deconnexion {
        form {
            margin: 0;
        }
    }

    .bouton-accueil-admin {

        border: solid $vert 2px;
        padding-top: 1em;
        color: white;
        cursor: pointer;
        width: 300px;
        height: 35px;
        text-align: center;

        a {
            color: white;
            font-size: 1.5em;
            font-family: "pf-venue", sans-serif;
            text-transform: uppercase;

        }

        &:hover {
            background-color: darken($vert, 10%);
            transition: background-color, 0.3s;
        }
    }
}
