.conteneur-titre-activites-admin {
    display: flex;
    justify-content: space-between;
    margin: 5em;
    height: 50px;

    h2 {
        margin: 0;
    }

}

.activites-admin {
    margin: 5em;

    .conteneur-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;


        .grid-item {
            flex: 0 1 calc(25% - 10px);
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid $rose;
        }
        h3.grid-title{
            color: $rose;
        }

        .description {
            max-width: 100%;
            border: 1px solid $rose;
            padding: 10px;
            box-sizing: border-box;
        }

        .image {
            height: 200px;
            width: 1000px;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


//BOUTTONS
.conteneur-btn {
    display: flex;
    justify-content: space-between;
    margin-left: 20em;
    margin-right: 20em;
}

hr {
    color: $rose;
    border: solid $rose 3px;
    margin: 2em;
}

button.ajouter-activite, .modifier-activite, .supprimer-activite {

    margin: 0;
    background-color: $noir;
    border: $jaune 3px solid;
    height: 70px;
    text-align: center;
    width: 500px;
    margin-bottom: 3em;

    a {
        color: $jaune;
    }
}
button.ajouter-activite:hover, .modifier-activite:hover, .supprimer-activite:hover {
    background-color: $jaune;
border: none;
    a {
        color: $noir;
    }
}
form button.supprimer-activite{
    transition: 0;
    border-radius: 0;
    padding: 0;
    padding-top: 10px;
}
