.admin_reservation_conteneur_bouton {

    button {
        font-size: inherit;
        transition: color 0.3s;

        &:hover {
            color: white;
            background-color: $rouge;
        }
    }
}
